              <style media="screen">
  /**Added in order to autocomplete works fine*/
  .md-scroll-mask
  {
    position: initial;
  }
  </style>
  <section ng-controller="UsersController" data-ng-init="prepareData()">
    <div class="panel ">
      <div class="panel-heading bg-blue-madison text-center">
        <h2 class="panel-title">{{ 'Users' | translate }}</h2>
      </div>
    </div>
        <div class="portlet box blue-madison">
      <div class="portlet-title">
        <div class="caption">
          {{ 'Create' | translate }}
        </div>
        <div class="tools">
          <a href="javascript:;" ng-click="prepareData()" class="reload"></a>
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="userForm" class="form-horizontal" role="form" data-ng-submit="create(userForm.$valid)" novalidate>
          <div class="form-body">
                            <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.username.$invalid }">
                      <label for="username" class="col-md-4 control-label">{{ 'username' | translate }}</label>
                      <div class="col-md-8">
                        <input name="username" type="text" class="form-control" data-ng-model="username" id="username" placeholder="{{ 'username' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && userForm.username.$invalid" class="help-block">
                          <p ng-show="userForm.username.$error.required">
                            {{ 'username field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.email.$invalid }">
                      <label for="email" class="col-md-4 control-label">{{ 'email' | translate }}</label>
                      <div class="col-md-8">
                        <input name="email" type="text" class="form-control" data-ng-model="email" id="email" placeholder="{{ 'email' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && userForm.email.$invalid" class="help-block">
                          <p ng-show="userForm.email.$error.required">
                            {{ 'email field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.password.$invalid }">
                      <label for="password" class="col-md-4 control-label">{{ 'password' | translate }}</label>
                      <div class="col-md-8">
                        <input name="password" type="text" class="form-control" data-ng-model="password" id="password" placeholder="{{ 'password' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && userForm.password.$invalid" class="help-block">
                          <p ng-show="userForm.password.$error.required">
                            {{ 'password field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.name.$invalid }">
                      <label for="name" class="col-md-4 control-label">{{ 'name' | translate }}</label>
                      <div class="col-md-8">
                        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && userForm.name.$invalid" class="help-block">
                          <p ng-show="userForm.name.$error.required">
                            {{ 'name field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.firstName.$invalid }">
                      <label for="firstName" class="col-md-4 control-label">{{ 'firstName' | translate }}</label>
                      <div class="col-md-8">
                        <input name="firstName" type="text" class="form-control" data-ng-model="firstName" id="firstName" placeholder="{{ 'firstName' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && userForm.firstName.$invalid" class="help-block">
                          <p ng-show="userForm.firstName.$error.required">
                            {{ 'firstName field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.lastName.$invalid }">
                      <label for="lastName" class="col-md-4 control-label">{{ 'lastName' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lastName" type="text" class="form-control" data-ng-model="lastName" id="lastName" placeholder="{{ 'lastName' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && userForm.lastName.$invalid" class="help-block">
                          <p ng-show="userForm.lastName.$error.required">
                            {{ 'lastName field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.lov_user_gender.$invalid }">
                      <label for="lov_user_gender" class="col-md-4 control-label">{{ 'lov_user_gender' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lov_user_gender" type="text" class="form-control" data-ng-model="lov_user_gender" id="lov_user_gender" placeholder="{{ 'lov_user_gender' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && userForm.lov_user_gender.$invalid" class="help-block">
                          <p ng-show="userForm.lov_user_gender.$error.required">
                            {{ 'lov_user_gender field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.parent.$invalid }">
                          <label for="parent" class="col-md-4 control-label">{{ 'group' | translate }}</label>
                          <div class="col-md-8">
                              <ui-select  ng-model="selectedGroup.selected" theme="bootstrap" ng-disabled="disabled" >
                                <ui-select-match placeholder="{{ 'Select Group' || translate }}...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in groups | propsFilter: {name: $select.search}">
                                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
                    </div>
                  </div>

                                    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.parent.$invalid }">
                          <label for="parent" class="col-md-4 control-label">{{ 'workstation' | translate }}</label>
                          <div class="col-md-8">
                              <ui-select  ng-model="selectedWorkstation.selected" theme="bootstrap" ng-disabled="disabled" >
                                <ui-select-match placeholder="{{ 'Select Workstation' || translate }}...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in workstations | propsFilter: {name: $select.search}">
                                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
                    </div>
                  </div>

                                  <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.lov_user_status.$invalid }">
                      <label for="lov_user_status" class="col-md-4 control-label">{{ 'lov_user_status' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lov_user_status" type="text" class="form-control" data-ng-model="lov_user_status" id="lov_user_status" placeholder="{{ 'lov_user_status' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && userForm.lov_user_status.$invalid" class="help-block">
                          <p ng-show="userForm.lov_user_status.$error.required">
                            {{ 'lov_user_status field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                
            <div class="form-actions">
              <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                      <button type="submit" class="btn btn-circle blue-madison">{{ 'Save' | translate }}</button>
                      <a ui-sref="usersList" class="btn btn-circle default">{{ 'Cancel' | translate }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            