              <section ng-controller="UsersCtrl" >
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="userForm" class="form-horizontal" role="form" data-ng-submit="create(userForm.$valid)" novalidate>
          <div class="form-body">
            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.username.$invalid }">
      <label for="username" class="col-md-4 control-label">{{ 'user-username' | translate }}</label>
      <div class="col-md-8">
        <input name="username" type="text" class="form-control" data-ng-model="username" id="username" placeholder="{{ 'user-username' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && userForm.username.$invalid" class="help-block">
          <p ng-show="userForm.username.$error.required">
            {{ 'user-username field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.email.$invalid }">
      <label for="email" class="col-md-4 control-label">{{ 'user-email' | translate }}</label>
      <div class="col-md-8">
        <input name="email" type="text" class="form-control" data-ng-model="email" id="email" placeholder="{{ 'user-email' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && userForm.email.$invalid" class="help-block">
          <p ng-show="userForm.email.$error.required">
            {{ 'user-email field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'user-name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="{{ 'user-name' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && userForm.name.$invalid" class="help-block">
          <p ng-show="userForm.name.$error.required">
            {{ 'user-name field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.firstName.$invalid }">
      <label for="firstName" class="col-md-4 control-label">{{ 'user-firstName' | translate }}</label>
      <div class="col-md-8">
        <input name="firstName" type="text" class="form-control" data-ng-model="firstName" id="firstName" placeholder="{{ 'user-firstName' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && userForm.firstName.$invalid" class="help-block">
          <p ng-show="userForm.firstName.$error.required">
            {{ 'user-firstName field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.lastName.$invalid }">
      <label for="lastName" class="col-md-4 control-label">{{ 'user-lastName' | translate }}</label>
      <div class="col-md-8">
        <input name="lastName" type="text" class="form-control" data-ng-model="lastName" id="lastName" placeholder="{{ 'user-lastName' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && userForm.lastName.$invalid" class="help-block">
          <p ng-show="userForm.lastName.$error.required">
            {{ 'user-lastName field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.lov_user_gender.$invalid }">
          <label for="lov_user_gender" class="col-md-4 control-label">{{ 'user-lov_user_gender' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select required ng-model="lovUserGender.selected" theme="bootstrap" name="lov_user_gender" >
                      <ui-select-match placeholder="{{ 'Select lov_user_gender' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovUserGenders" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'USER_GENDER', 'lovUserGenders', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovUserGender.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && userForm.lov_user_gender.$invalid" class="help-block">
                  <p ng-show="userForm.lov_user_gender.$error.required">
                      {{ 'user-lov_user_gender field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.lov_user_status.$invalid }">
          <label for="lov_user_status" class="col-md-4 control-label">{{ 'user-lov_user_status' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select required ng-model="lovUserStatus.selected" theme="bootstrap" name="lov_user_status" >
                      <ui-select-match placeholder="{{ 'Select lov_user_status' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovUserStatuses" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'USER_STATUS', 'lovUserStatuses', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovUserStatus.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && userForm.lov_user_status.$invalid" class="help-block">
                  <p ng-show="userForm.lov_user_status.$error.required">
                      {{ 'user-lov_user_status field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.lov_user_type.$invalid }">
          <label for="lov_user_type" class="col-md-4 control-label">{{ 'user-lov_user_type' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select required ng-model="lovUserType.selected" theme="bootstrap" name="lov_user_type" >
                      <ui-select-match placeholder="{{ 'Select lov_user_type' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovUserTypes" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'USER_TYPE', 'lovUserTypes', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovUserType.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && userForm.lov_user_type.$invalid" class="help-block">
                  <p ng-show="userForm.lov_user_type.$error.required">
                      {{ 'user-lov_user_type field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.role_id.$invalid }">
        <label for="role_id" class="col-md-4 control-label">{{ 'user-role' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select required ng-model="selectedRole.selected" name="role_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Role' | translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in roles | limitTo: 10 track by $index"  refresh="findRoles($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedRole.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && userForm.role_id.$invalid" class="help-block">
                <p ng-show="userForm.role_id.$error.required">
                    {{ 'user-role_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>
                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.workstation_id.$invalid }">
        <label for="workstation_id" class="col-md-4 control-label">{{ 'user-workstation' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select  ng-model="selectedWorkstation.selected" name="workstation_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Workstation' | translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in workstations | limitTo: 10 track by $index"  refresh="findWorkstations($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedWorkstation.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && userForm.workstation_id.$invalid" class="help-block">
                <p ng-show="userForm.workstation_id.$error.required">
                    {{ 'user-workstation_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>
                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.buildingspot_id.$invalid }">
        <label for="buildingspot_id" class="col-md-4 control-label">{{ 'user-buildingspot' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select  ng-model="selectedBuildingspot.selected" name="buildingspot_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Buildingspot' | translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in buildingspots | limitTo: 10 track by $index"  refresh="findBuildingspots($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedBuildingspot.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && userForm.buildingspot_id.$invalid" class="help-block">
                <p ng-show="userForm.buildingspot_id.$error.required">
                    {{ 'user-buildingspot_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>
                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && userForm.avatar.$invalid }">
      <label for="avatar" class="col-md-4 control-label">{{ 'user-avatar' | translate }}</label>
      <div class="col-md-8">
        <input name="avatar" type="text" class="form-control" data-ng-model="avatar" id="avatar" placeholder="{{ 'user-avatar' | translate }}" autocomplete="off"  >
        <span ng-show="submitted && userForm.avatar.$invalid" class="help-block">
          <p ng-show="userForm.avatar.$error.required">
            {{ 'user-avatar field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="form-actions">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>
    <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="submit" acl-check="usersCreate" class="btn blue-madison">{{ 'Save' | translate }}</button>
          <a href="javascript:;" ui-sref="usersList" class="btn default ">{{ 'Back to users list' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

          </div>
        </form>
      </div>
    </div>
            </section>
