              <section ng-controller="RolesctrlsCtrl" data-ng-init="findOne()">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption font-green-sharp">
              {{ 'View' | translate }}
            </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form name="rolesctrlForm" class="form-horizontal" role="form" >
              <div class="form-body">
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrl.role_id.$invalid }">
      <label for="role_id" class="col-md-4 control-label">{{ 'rolesctrl-role' | translate }}</label>
      <div class="col-md-8">
        <input name="role_id" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.role_id.name" id="role_id" placeholder="{{ 'rolesctrl-role_id' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>

                                            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrl.ctrl_id.$invalid }">
      <label for="ctrl_id" class="col-md-4 control-label">{{ 'rolesctrl-ctrl' | translate }}</label>
      <div class="col-md-8">
        <input name="ctrl_id" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.ctrl_id.name" id="ctrl_id" placeholder="{{ 'rolesctrl-ctrl_id' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>

                                            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.lov_rolesctrl_status.$invalid }">
      <label for="lov_rolesctrl_status" class="col-md-4 control-label">{{ 'rolesctrl-lov_rolesctrl_status' | translate }}</label>
      <div class="col-md-8">
        <span load-lovtype="ROLESCTRL_STATUS" load-lovtype-value="{{rolesctrl.lov_rolesctrl_status}}" ></span>
      </div>
    </div>
  </div>
</div>

                                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.getAction.$invalid }">
      <label for="getAction" class="col-md-4 control-label">{{ 'rolesctrl-getAction' | translate }}</label>
      <div class="col-md-8">
        <input name="getAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.getAction" id="getAction" placeholder="{{ 'rolesctrl-getAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.postAction.$invalid }">
      <label for="postAction" class="col-md-4 control-label">{{ 'rolesctrl-postAction' | translate }}</label>
      <div class="col-md-8">
        <input name="postAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.postAction" id="postAction" placeholder="{{ 'rolesctrl-postAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.putAction.$invalid }">
      <label for="putAction" class="col-md-4 control-label">{{ 'rolesctrl-putAction' | translate }}</label>
      <div class="col-md-8">
        <input name="putAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.putAction" id="putAction" placeholder="{{ 'rolesctrl-putAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.patchAction.$invalid }">
      <label for="patchAction" class="col-md-4 control-label">{{ 'rolesctrl-patchAction' | translate }}</label>
      <div class="col-md-8">
        <input name="patchAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.patchAction" id="patchAction" placeholder="{{ 'rolesctrl-patchAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.deleteAction.$invalid }">
      <label for="deleteAction" class="col-md-4 control-label">{{ 'rolesctrl-deleteAction' | translate }}</label>
      <div class="col-md-8">
        <input name="deleteAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.deleteAction" id="deleteAction" placeholder="{{ 'rolesctrl-deleteAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.copyAction.$invalid }">
      <label for="copyAction" class="col-md-4 control-label">{{ 'rolesctrl-copyAction' | translate }}</label>
      <div class="col-md-8">
        <input name="copyAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.copyAction" id="copyAction" placeholder="{{ 'rolesctrl-copyAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.headAction.$invalid }">
      <label for="headAction" class="col-md-4 control-label">{{ 'rolesctrl-headAction' | translate }}</label>
      <div class="col-md-8">
        <input name="headAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.headAction" id="headAction" placeholder="{{ 'rolesctrl-headAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.optionsAction.$invalid }">
      <label for="optionsAction" class="col-md-4 control-label">{{ 'rolesctrl-optionsAction' | translate }}</label>
      <div class="col-md-8">
        <input name="optionsAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.optionsAction" id="optionsAction" placeholder="{{ 'rolesctrl-optionsAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.linkAction.$invalid }">
      <label for="linkAction" class="col-md-4 control-label">{{ 'rolesctrl-linkAction' | translate }}</label>
      <div class="col-md-8">
        <input name="linkAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.linkAction" id="linkAction" placeholder="{{ 'rolesctrl-linkAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.unlinkAction.$invalid }">
      <label for="unlinkAction" class="col-md-4 control-label">{{ 'rolesctrl-unlinkAction' | translate }}</label>
      <div class="col-md-8">
        <input name="unlinkAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.unlinkAction" id="unlinkAction" placeholder="{{ 'rolesctrl-unlinkAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.purgeAction.$invalid }">
      <label for="purgeAction" class="col-md-4 control-label">{{ 'rolesctrl-purgeAction' | translate }}</label>
      <div class="col-md-8">
        <input name="purgeAction" readonly="readonly" type="text" class="form-control" data-ng-model="rolesctrl.purgeAction" id="purgeAction" placeholder="{{ 'rolesctrl-purgeAction' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
                <div class="form-actions">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <a acl-check="rolesctrlsEdit" href="/#/rolesctrls/edit/{{rolesctrl.id}}" class="btn blue-madison ">{{ 'Edit' | translate }}</a>
                          <a href="javascript:;" ui-sref="rolesctrlsList" class="btn default ">{{ 'Back to rolesctrls list' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <tabset vertical="false" type="pills">
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
          </tabset>
        </div>
      </div>
  </section>

