              <section ng-controller="RolesctrlsCtrl" >
    
            <div class="portlet light bordered">
              <div class="portlet-title">
                <div class="caption font-green-sharp">
                  {{ 'Edit' | translate }}
                </div>
              </div>
              <div class="portlet-body form" data-ng-init="findOne()">
                <!-- BEGIN FORM-->
                <form name="rolesctrlForm" class="form-horizontal" role="form" data-ng-submit="update(rolesctrlForm.$valid)" novalidate>
                  <div class="form-body">
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.role_id.$invalid }">
        <label for="role_id" class="col-md-4 control-label">{{ 'rolesctrl-role' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select required ng-model="selectedRole.selected" name="role_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Role' | translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in roles | limitTo: 10 track by $index"  refresh="findRoles($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedRole.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && rolesctrlForm.role_id.$invalid" class="help-block">
                <p ng-show="rolesctrlForm.role_id.$error.required">
                    {{ 'rolesctrl-role_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>

                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.ctrl_id.$invalid }">
        <label for="ctrl_id" class="col-md-4 control-label">{{ 'rolesctrl-ctrl' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select required ng-model="selectedCtrl.selected" name="ctrl_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Ctrl' | translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in ctrls | limitTo: 10 track by $index"  refresh="findCtrls($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedCtrl.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && rolesctrlForm.ctrl_id.$invalid" class="help-block">
                <p ng-show="rolesctrlForm.ctrl_id.$error.required">
                    {{ 'rolesctrl-ctrl_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>

                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.lov_rolesctrl_status.$invalid }">
          <label for="lov_rolesctrl_status" class="col-md-4 control-label">{{ 'rolesctrl-lov_rolesctrl_status' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select required ng-model="lovRolesctrlStatus.selected" theme="bootstrap" name="lov_rolesctrl_status" >
                      <ui-select-match placeholder="{{ 'Select lov_rolesctrl_status' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovRolesctrlStatuses" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'ROLESCTRL_STATUS', 'lovRolesctrlStatuses', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovRolesctrlStatus.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && rolesctrlForm.lov_rolesctrl_status.$invalid" class="help-block">
                  <p ng-show="rolesctrlForm.lov_rolesctrl_status.$error.required">
                      {{ 'rolesctrl-lov_rolesctrl_status field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.getAction.$invalid }">
      <label for="getAction" class="col-md-4 control-label">{{ 'rolesctrl-getAction' | translate }}</label>
      <div class="col-md-8">
        <input name="getAction" type="text" class="form-control" data-ng-model="rolesctrl.getAction" id="getAction" placeholder="{{ 'rolesctrl-getAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.getAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.getAction.$error.required">
            {{ 'rolesctrl-getAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.postAction.$invalid }">
      <label for="postAction" class="col-md-4 control-label">{{ 'rolesctrl-postAction' | translate }}</label>
      <div class="col-md-8">
        <input name="postAction" type="text" class="form-control" data-ng-model="rolesctrl.postAction" id="postAction" placeholder="{{ 'rolesctrl-postAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.postAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.postAction.$error.required">
            {{ 'rolesctrl-postAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.putAction.$invalid }">
      <label for="putAction" class="col-md-4 control-label">{{ 'rolesctrl-putAction' | translate }}</label>
      <div class="col-md-8">
        <input name="putAction" type="text" class="form-control" data-ng-model="rolesctrl.putAction" id="putAction" placeholder="{{ 'rolesctrl-putAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.putAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.putAction.$error.required">
            {{ 'rolesctrl-putAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.patchAction.$invalid }">
      <label for="patchAction" class="col-md-4 control-label">{{ 'rolesctrl-patchAction' | translate }}</label>
      <div class="col-md-8">
        <input name="patchAction" type="text" class="form-control" data-ng-model="rolesctrl.patchAction" id="patchAction" placeholder="{{ 'rolesctrl-patchAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.patchAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.patchAction.$error.required">
            {{ 'rolesctrl-patchAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.deleteAction.$invalid }">
      <label for="deleteAction" class="col-md-4 control-label">{{ 'rolesctrl-deleteAction' | translate }}</label>
      <div class="col-md-8">
        <input name="deleteAction" type="text" class="form-control" data-ng-model="rolesctrl.deleteAction" id="deleteAction" placeholder="{{ 'rolesctrl-deleteAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.deleteAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.deleteAction.$error.required">
            {{ 'rolesctrl-deleteAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.copyAction.$invalid }">
      <label for="copyAction" class="col-md-4 control-label">{{ 'rolesctrl-copyAction' | translate }}</label>
      <div class="col-md-8">
        <input name="copyAction" type="text" class="form-control" data-ng-model="rolesctrl.copyAction" id="copyAction" placeholder="{{ 'rolesctrl-copyAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.copyAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.copyAction.$error.required">
            {{ 'rolesctrl-copyAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.headAction.$invalid }">
      <label for="headAction" class="col-md-4 control-label">{{ 'rolesctrl-headAction' | translate }}</label>
      <div class="col-md-8">
        <input name="headAction" type="text" class="form-control" data-ng-model="rolesctrl.headAction" id="headAction" placeholder="{{ 'rolesctrl-headAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.headAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.headAction.$error.required">
            {{ 'rolesctrl-headAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.optionsAction.$invalid }">
      <label for="optionsAction" class="col-md-4 control-label">{{ 'rolesctrl-optionsAction' | translate }}</label>
      <div class="col-md-8">
        <input name="optionsAction" type="text" class="form-control" data-ng-model="rolesctrl.optionsAction" id="optionsAction" placeholder="{{ 'rolesctrl-optionsAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.optionsAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.optionsAction.$error.required">
            {{ 'rolesctrl-optionsAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.linkAction.$invalid }">
      <label for="linkAction" class="col-md-4 control-label">{{ 'rolesctrl-linkAction' | translate }}</label>
      <div class="col-md-8">
        <input name="linkAction" type="text" class="form-control" data-ng-model="rolesctrl.linkAction" id="linkAction" placeholder="{{ 'rolesctrl-linkAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.linkAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.linkAction.$error.required">
            {{ 'rolesctrl-linkAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.unlinkAction.$invalid }">
      <label for="unlinkAction" class="col-md-4 control-label">{{ 'rolesctrl-unlinkAction' | translate }}</label>
      <div class="col-md-8">
        <input name="unlinkAction" type="text" class="form-control" data-ng-model="rolesctrl.unlinkAction" id="unlinkAction" placeholder="{{ 'rolesctrl-unlinkAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.unlinkAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.unlinkAction.$error.required">
            {{ 'rolesctrl-unlinkAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolesctrlForm.purgeAction.$invalid }">
      <label for="purgeAction" class="col-md-4 control-label">{{ 'rolesctrl-purgeAction' | translate }}</label>
      <div class="col-md-8">
        <input name="purgeAction" type="text" class="form-control" data-ng-model="rolesctrl.purgeAction" id="purgeAction" placeholder="{{ 'rolesctrl-purgeAction' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolesctrlForm.purgeAction.$invalid" class="help-block">
          <p ng-show="rolesctrlForm.purgeAction.$error.required">
            {{ 'rolesctrl-purgeAction field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="form-actions">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
          <button type="submit" acl-check="rolesctrlsEdit" class="btn blue-madison">{{ 'Save' | translate }}</button>
          <a href="javascript:;" ui-sref="rolesctrlsList" class="btn default ">{{ 'Back to rolesctrls list' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

          </div>
        </form>
      </div>
    </div>

                    </section>
