/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/


/**FLAGS
  .flags-sprite,.flags-american,.flags-china,.flags-france,.flags-germany,.flags-italy,.flags-japan,.flags-korea,.flags-portugal,.flags-russia,.flags-spain {
   background: url('../../../assets/global/img/flags-s1545c92c32.png') no-repeat;
}

.flags-american {
   background-position: 0 -0px;
   height: 32px;
   width: 32px;
}

.flags-china {
   background-position: 0 -64px;
   height: 32px;
   width: 32px;
}

.flags-france {
   background-position: 0 -192px;
   height: 32px;
   width: 32px;
}

.flags-germany {
   background-position: 0 -256px;
   height: 32px;
   width: 32px;
}

.flags-italy {
   background-position: 0 -224px;
   height: 32px;
   width: 32px;
}

.flags-japan {
   background-position: 0 -128px;
   height: 32px;
   width: 32px;
}

.flags-korea {
   background-position: 0 0;
   height: 32px;
   width: 32px;
}

.flags-portugal {
   background-position: 0 -32px;
   height: 32px;
   width: 32px;
}

.flags-russia {
   background-position: 0 -288px;
   height: 32px;
   width: 32px;
}

.flags-spain {
   background-position: 0 -288px;
   height: 32px;
   width: 32px;
}
*/