              <section ng-controller="WorkstationsCtrl" >
    <h3 class="page-title"></i>{{ 'Workstations' | translate }}</h3>
    
            <div class="portlet light bordered">
              <div class="portlet-title">
                <div class="caption font-green-sharp">
                  {{ 'Edit' | translate }}
                </div>
              </div>
              <div class="portlet-body form" data-ng-init="findOne()">
                <!-- BEGIN FORM-->
                <form name="workstationForm" class="form-horizontal" role="form" data-ng-submit="update(workstationForm.$valid)" novalidate>
                  <div class="form-body">
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" type="text" class="form-control" data-ng-model="workstation.name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && workstationForm.name.$invalid" class="help-block">
          <p ng-show="workstationForm.name.$error.required">
            {{ 'name field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.employeeNumber.$invalid }">
      <label for="employeeNumber" class="col-md-4 control-label">{{ 'employeeNumber' | translate }}</label>
      <div class="col-md-8">
        <input name="employeeNumber" type="text" class="form-control" data-ng-model="workstation.employeeNumber" id="employeeNumber" placeholder="{{ 'employeeNumber' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && workstationForm.employeeNumber.$invalid" class="help-block">
          <p ng-show="workstationForm.employeeNumber.$error.required">
            {{ 'employeeNumber field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.workarea_id.$invalid }">
        <label for="workarea_id" class="col-md-4 control-label">{{ 'workarea' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select required ng-model="selectedWorkarea.selected" name="workarea_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Workarea' || translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in workareas | limitTo: 10 track by $index"  refresh="findWorkareas($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedWorkarea.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && workstationForm.workarea_id.$invalid" class="help-block">
                <p ng-show="workstationForm.workarea_id.$error.required">
                    {{ 'workarea_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>

                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.lov_workstation_status.$invalid }">
          <label for="lov_workstation_status" class="col-md-4 control-label">{{ 'lov_workstation_status' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select ng-model="lovWorkstationStatus.selected" theme="bootstrap" name="lov_workstation_status" >
                      <ui-select-match placeholder="Select...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovWorkstationStatuses" refresh="findLovs( 'contains', 'name_' + selectedLanguage, 'WORKSTATION_STATUS', 'lovWorkstationStatuses', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovWorkstationStatus.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && workstationForm.lov_workstation_status.$invalid" class="help-block">
                  <p ng-show="workstationForm.lov_workstation_status.$error.required">
                      {{ 'lov_workstation_status field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.parent_id.$invalid }">
        <label for="parent_id" class="col-md-4 control-label">{{ 'parentWorkstation' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select  ng-model="selectedWorkstation.selected" name="parent_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Workstation' || translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in workstations | limitTo: 10 track by $index"  refresh="findWorkstations($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedWorkstation.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && workstationForm.parent_id.$invalid" class="help-block">
                <p ng-show="workstationForm.parent_id.$error.required">
                    {{ 'parent_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>

                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.building_id.$invalid }">
        <label for="building_id" class="col-md-4 control-label">{{ 'building' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select  ng-model="selectedBuilding.selected" name="building_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Building' || translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in buildings | limitTo: 10 track by $index"  refresh="findBuildings($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedBuilding.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && workstationForm.building_id.$invalid" class="help-block">
                <p ng-show="workstationForm.building_id.$error.required">
                    {{ 'building_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>

                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.description.$invalid }">
      <label for="description" class="col-md-4 control-label">{{ 'description' | translate }}</label>
      <div class="col-md-8">
        <input name="description" type="text" class="form-control" data-ng-model="workstation.description" id="description" placeholder="{{ 'description' | translate }}" autocomplete="off"  >
        <span ng-show="submitted && workstationForm.description.$invalid" class="help-block">
          <p ng-show="workstationForm.description.$error.required">
            {{ 'description field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="form-actions">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
          <button type="submit" acl-check="workstationsEdit" class="btn blue-madison">{{ 'Save' | translate }}</button>
          <a ui-sref="workstationsList" acl-check="workstationsList" class="btn default ">{{ 'Cancel' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

          </div>
        </form>
      </div>
    </div>

                    </section>
