              <section ng-controller="WorkstationsCtrl" data-ng-init="findOne()">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption font-green-sharp">
              {{ 'View' | translate }}
            </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form name="workstationForm" class="form-horizontal" role="form" >
              <div class="form-body">
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'workstation-name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" readonly="readonly" type="text" class="form-control" data-ng-model="workstation.name" id="name" placeholder="{{ 'workstation-name' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.employeeNumber.$invalid }">
      <label for="employeeNumber" class="col-md-4 control-label">{{ 'workstation-employeeNumber' | translate }}</label>
      <div class="col-md-8">
        <input name="employeeNumber" readonly="readonly" type="text" class="form-control" data-ng-model="workstation.employeeNumber" id="employeeNumber" placeholder="{{ 'workstation-employeeNumber' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstation.workarea_id.$invalid }">
      <label for="workarea_id" class="col-md-4 control-label">{{ 'workstation-workarea' | translate }}</label>
      <div class="col-md-8">
        <input name="workarea_id" readonly="readonly" type="text" class="form-control" data-ng-model="workstation.workarea_id.name" id="workarea_id" placeholder="{{ 'workstation-workarea_id' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>

                                            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.lov_workstation_status.$invalid }">
      <label for="lov_workstation_status" class="col-md-4 control-label">{{ 'workstation-lov_workstation_status' | translate }}</label>
      <div class="col-md-8">
        <span load-lovtype="WORKSTATION_STATUS" load-lovtype-value="{{workstation.lov_workstation_status}}" ></span>
      </div>
    </div>
  </div>
</div>

                                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstation.parent_id.$invalid }">
      <label for="parent_id" class="col-md-4 control-label">{{ 'workstation-parentWorkstation' | translate }}</label>
      <div class="col-md-8">
        <input name="parent_id" readonly="readonly" type="text" class="form-control" data-ng-model="workstation.parent_id.name" id="parent_id" placeholder="{{ 'workstation-parent_id' | translate }}" autocomplete="off"  >
      </div>
    </div>
  </div>
</div>

                                            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstation.building_id.$invalid }">
      <label for="building_id" class="col-md-4 control-label">{{ 'workstation-building' | translate }}</label>
      <div class="col-md-8">
        <input name="building_id" readonly="readonly" type="text" class="form-control" data-ng-model="workstation.building_id.name" id="building_id" placeholder="{{ 'workstation-building_id' | translate }}" autocomplete="off"  >
      </div>
    </div>
  </div>
</div>

                                            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.description.$invalid }">
      <label for="description" class="col-md-4 control-label">{{ 'workstation-description' | translate }}</label>
      <div class="col-md-8">
        <input name="description" readonly="readonly" type="text" class="form-control" data-ng-model="workstation.description" id="description" placeholder="{{ 'workstation-description' | translate }}" autocomplete="off"  >
      </div>
    </div>
  </div>
</div>
                                
                <div class="form-actions">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <a acl-check="workstationsEdit" href="/#/workstations/edit/{{workstation.id}}" class="btn blue-madison ">{{ 'Edit' | translate }}</a>
                          <a href="javascript:;" ui-sref="workstationsList" class="btn default ">{{ 'Back to workstations list' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <tabset vertical="false" type="pills">
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
          </tabset>
        </div>
      </div>
  </section>

