<div class="modal" role="dialog">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <div class="modal-body" >
        <div class="portlet box blue" style="margin-bottom:0px;">
          <div class="portlet-title">
            <div class="caption">{{"About Record" | translate}}</div>
            <div class="tools">
              <a href="javascript:;" ng-click="$hide()" style="color:#ffffff;">
                <i class="glyphicon glyphicon-remove"></i>
              </a>                 
            </div>           
          </div>

          <div class="portlet-body">
        <div class="table-scrollable">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>{{'Created' | translate }}</th>
                <th>{{'Created By' | translate }}</th>                
                <th>{{'Updated' | translate }}</th>
                <th>{{'Updated By' | translate }}</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{aboutRecord.rows.id}}</td>
                <td>{{aboutRecord.rows.created}}</td>
                <td>{{aboutRecord.created_by.username}}</td>
                <td>{{aboutRecord.rows.updated}}</td>
                <td>{{aboutRecord.updated_by.username}}</td>                              
              </tr>
            </tbody>
          </table>
        </div>
        <!-- ngModel is optional -->
        <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
          <div class="panel panel-default" ng-repeat="panel in panels">
            <div class="panel-heading" role="tab">
              <h5 class="panel-title">
                <a bs-collapse-toggle>
                  {{ "More Info" | translate }} 
                  <span class="{{ (panels.activePanel == 0)?'glyphicon glyphicon-chevron-up':'glyphicon glyphicon-chevron-down'}}"></span>
                </a>
              </h5>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
              <div class="panel-body">
                  <table class="table table-bordered table-striped table-condensed flip-content" style="font-size:11px;">
                    <tbody>
                      <tr ng-repeat="col in aboutRecord.header.columns" ng-if="(col.name != 'actions')">
                        <td style="padding:4px;">{{col.name | translate}}</td>
                        <td style="padding:4px;">{{aboutRecord.rows[(col.name | split:'.':1)]}}</td>
                      </tr>
                      <tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>