<style type="text/css">

  .flags-sprite,.flags-american,.flags-china,.flags-france,.flags-germany,.flags-italy,.flags-japan,.flags-korea,.flags-portugal,.flags-russia,.flags-spain {
   background: url('../../../assets/global/img/flags-s1545c92c32.png') no-repeat;
}

.flags-american {
   background-position: 0 -0px;
   height: 30px;
   width: 30px;
}

.flags-china {
   background-position: 0 -64px;
   height: 32px;
   width: 32px;
}

.flags-france {
   background-position: 0 -192px;
   height: 32px;
   width: 32px;
}

.flags-germany {
   background-position: 0 -256px;
   height: 32px;
   width: 32px;
}

.flags-italy {
   background-position: 0 -224px;
   height: 32px;
   width: 32px;
}

.flags-japan {
   background-position: 0 -128px;
   height: 32px;
   width: 32px;
}

.flags-korea {
   background-position: 0 0;
   height: 32px;
   width: 32px;
}

.flags-portugal {
   background-position: 0 -32px;
   height: 32px;
   width: 32px;
}

.flags-russia {
   background-position: 0 -288px;
   height: 32px;
   width: 32px;
}

.flags-spain {
   background-position: 0 -288px;
   height: 32px;
   width: 32px;
}
</style>
<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="index.html">
		<img src="img/obelit_logo.jpg" alt="logo" class="logo-default"/>
		</a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN PAGE ACTIONS -->
	<!-- DOC: Remove "hide" class to enable the page header actions -->
	<div class="page-actions">
		<div class="btn-group">
			<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				<div ng-class="loadLangClass()"></div>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="javascript:;" ng-click="setLang('en-US')">
					<div class="row">
						<div class="col-md-3">
							<div class="flag flags-american"></div>						
						</div>
						<div class="col-md-9" style="padding-top:5px;">
							{{'English' | translate}}
						</div>
					</div>
					</a>
				</li>
				<li>
					<a href="javascript:;" ng-click="setLang('es-MX')">
					<div class="row">
						<div class="col-md-3">
							<div class="flag flags-spain"></div>						
						</div>
						<div class="col-md-9" style="padding-top:5px;">
							{{'Spanish' | translate}}
						</div>
					</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- END PAGE ACTIONS -->
	<!-- BEGIN PAGE TOP -->
	<div class="page-top">
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li>
					<div>
						<a href="#/login" style="margin-top:20px;" class="btn-crm-default btn btn-circle btn-sm btn-default">
							<i class="icon-key"></i>{{'Login' | translate}}
						</a>
					</div>
				</li>
		</div>
	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->