<div id="menu" class="hidden-sm hidden-print">
	<div id="menuInner">

	<!-- Scrollable menu wrapper with Maximum height -->
	<div class="slim-scroll" data-scroll-height="600px">
	
	<div id="search">
		<input type="text" placeholder="Quick search ..." />
		<button class="glyphicons search"></button>
	</div>	
	<ul bs-navbar>
		<li class="glyphicons home" ng-if="currentUser.Permissions['dashboards'].doget">
			<a href="dashboard.html">
				<span class="title">Dashboard</span>
			</a>
		</li>
		<li class="glyphicons list" ng-if="currentUser.Permissions['activities'].doget">
			<a ui-sref="activities.list">
				<span class="title">{{'Activities' | translate}}</span>
			</a>
		</li>
		<li data-match-route="/accounts" class="glyphicons group" ng-if="currentUser.Permissions['accounts'].doget">
			<a ui-sref="customers.accounts">
				<span class="title">{{'Customers' | translate}}</span>
			</a>
		</li>
		<li data-match-route="/calendar" ng-if="currentUser.Permissions['servicerequests'].doget">
			<a href="/calendar" class="glyphicons calendar">
				<span class="title">{{'Calendar' | translate}}</span>
			</a>
		</li>		
		<li data-match-route="/attachments" class="glyphicons file" ng-if="currentUser.Permissions['attachments'].doget">
			<a ui-sref="attachments.list">
				<span class="title">{{'Documents' | translate}}</span>
			</a>
		</li>
		<!--<li data-match-route="/contacts" class="glyphicons user" ng-if="currentUser.Permissions['contacts'].doget">
			<a ui-sref="contacts.list">
				<span class="title">{{'Contacts' | translate}}</span>
			</a>
		</li>-->
		<li data-match-route="/loyaltyprograms" class="glyphicons gift" ng-if="(currentUser.Permissions['loyaltyprograms'].doget ||
					currentUser.Permissions['loyaltyprogramsaccounts'].doget ||
					currentUser.Permissions['loyaltyprogramtransactions'].doget)">
			<a href="#/loyaltyprograms">
				<span class="title">{{'Loyalty' | translate}}</span>
			</a>
		</li>
		<li data-match-route="/reports" class="glyphicons charts" ng-if="currentUser.Permissions['reports'].doget">
			<a ui-sref="reports">
				<span class="title">{{'Reports' | translate}}</span>
			</a>
		</li>
		<li data-match-route="/reservations" class="glyphicons clock" ng-if="currentUser.Permissions['reservations'].doget">
			<a href="/reservations">
				<span class="title">{{'Reservations' | translate}}</span>
			</a>
		</li>
		<li data-match-route="/sales" ng-if="(currentUser.Permissions['opportunities'].doget ||
					currentUser.Permissions['quotes'].doget ||
					currentUser.Permissions['orders'].doget ||
					currentUser.Permissions['payments'].doget ||
					currentUser.Permissions['agreements'].doget)">
			<a ui-sref="sales.pipeline" class="glyphicons usd">
				<span class="title">{{'Sales' | translate}}</span>
			</a>
		</li>
		<li data-match-route="/servicerequests" ng-if="currentUser.Permissions['servicerequests'].doget">
			<a ui-sref="services.servicerequests" class="glyphicons circle_exclamation_mark">
				<span class="title">{{'Services' | translate}}</span>
			</a>
		</li>
		<li data-match-route="surveys" class="glyphicons notes_2" ng-if="currentUser.Permissions['surveys'].doget">
			<a ui-sref="surveys.list">
				<span class="title">{{'Surveys' | translate}}</span>
			</a>
		</li>
		<li data-match-route="/settings" class="glyphicons cogwheel">
			<a ui-sref="settings.cronlogs">
				<span class="title">{{'Settings' | translate}}</span>
			</a>
		</li>
	</ul>
	</div>
	
	</div>
	<!-- // Nice Scroll Wrapper END -->
	
</div>
	<!-- END SIDEBAR MENU -->