              <section ng-controller="BuildingspotsCtrl" >
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="buildingspotForm" class="form-horizontal" role="form" data-ng-submit="create(buildingspotForm.$valid)" novalidate>
          <div class="form-body">
            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspotForm.building_id.$invalid }">
        <label for="building_id" class="col-md-4 control-label">{{ 'buildingspot-building' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select required ng-model="selectedBuilding.selected" name="building_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Building' | translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in buildings | limitTo: 10 track by $index"  refresh="findBuildings($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedBuilding.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && buildingspotForm.building_id.$invalid" class="help-block">
                <p ng-show="buildingspotForm.building_id.$error.required">
                    {{ 'buildingspot-building_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>
                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspotForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'buildingspot-name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="{{ 'buildingspot-name' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && buildingspotForm.name.$invalid" class="help-block">
          <p ng-show="buildingspotForm.name.$error.required">
            {{ 'buildingspot-name field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspotForm.spotNumber.$invalid }">
      <label for="spotNumber" class="col-md-4 control-label">{{ 'buildingspot-spotNumber' | translate }}</label>
      <div class="col-md-8">
        <input name="spotNumber" type="text" class="form-control" data-ng-model="spotNumber" id="spotNumber" placeholder="{{ 'buildingspot-spotNumber' | translate }}" autocomplete="off"  >
        <span ng-show="submitted && buildingspotForm.spotNumber.$invalid" class="help-block">
          <p ng-show="buildingspotForm.spotNumber.$error.required">
            {{ 'buildingspot-spotNumber field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspotForm.lov_buildingspot_section.$invalid }">
          <label for="lov_buildingspot_section" class="col-md-4 control-label">{{ 'buildingspot-lov_buildingspot_section' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select  ng-model="lovBuildingspotSection.selected" theme="bootstrap" name="lov_buildingspot_section" >
                      <ui-select-match placeholder="{{ 'Select lov_buildingspot_section' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovBuildingspotSections" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'BUILDINGSPOT_SECTION', 'lovBuildingspotSections', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovBuildingspotSection.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && buildingspotForm.lov_buildingspot_section.$invalid" class="help-block">
                  <p ng-show="buildingspotForm.lov_buildingspot_section.$error.required">
                      {{ 'buildingspot-lov_buildingspot_section field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspotForm.lov_buildingspot_status.$invalid }">
          <label for="lov_buildingspot_status" class="col-md-4 control-label">{{ 'buildingspot-lov_buildingspot_status' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select  ng-model="lovBuildingspotStatus.selected" theme="bootstrap" name="lov_buildingspot_status" >
                      <ui-select-match placeholder="{{ 'Select lov_buildingspot_status' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovBuildingspotStatuses" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'BUILDINGSPOT_STATUS', 'lovBuildingspotStatuses', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovBuildingspotStatus.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && buildingspotForm.lov_buildingspot_status.$invalid" class="help-block">
                  <p ng-show="buildingspotForm.lov_buildingspot_status.$error.required">
                      {{ 'buildingspot-lov_buildingspot_status field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="form-actions">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>
    <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="submit" acl-check="buildingspotsCreate" class="btn blue-madison">{{ 'Save' | translate }}</button>
          <a href="javascript:;" ui-sref="buildingspotsList" class="btn default ">{{ 'Back to buildingspots list' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

          </div>
        </form>
      </div>
    </div>
            </section>
