              <section ng-controller="BuildingspotsCtrl" data-ng-init="findOne()">
    <h3 class="page-title">{{ 'Buildingspot' | translate }}</h3>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption font-green-sharp">
              {{ 'View' | translate }}
            </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form name="buildingspotForm" class="form-horizontal" role="form" >
              <div class="form-body">
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspot.building_id.$invalid }">
      <label for="building_id" class="col-md-4 control-label">{{ 'building' | translate }}</label>
      <div class="col-md-8">
        <input name="building_id" readonly="readonly" type="text" class="form-control" data-ng-model="buildingspot.building_id.name" id="building_id" placeholder="{{ 'building_id' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>

                                            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspotForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" readonly="readonly" type="text" class="form-control" data-ng-model="buildingspot.name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspotForm.spotNumber.$invalid }">
      <label for="spotNumber" class="col-md-4 control-label">{{ 'spotNumber' | translate }}</label>
      <div class="col-md-8">
        <input name="spotNumber" readonly="readonly" type="text" class="form-control" data-ng-model="buildingspot.spotNumber" id="spotNumber" placeholder="{{ 'spotNumber' | translate }}" autocomplete="off"  >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingspotForm.lov_spot_section.$invalid }">
      <label for="lov_spot_section" class="col-md-4 control-label">{{ 'lov_spot_section' | translate }}</label>
      <div class="col-md-8">
        <input name="lov_spot_section" readonly="readonly" type="text" class="form-control" data-ng-model="lovSpotSection.selected['name_'+selectedLanguage]" id="lov_spot_section" placeholder="{{ 'lov_spot_section' | translate }}" autocomplete="off"  >
      </div>
    </div>
  </div>
</div>

                                    
                <div class="form-actions">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <a acl-check="buildingspotsEdit" href="/#/buildingspots/edit/{{buildingspot.id}}" class="btn blue-madison ">{{ 'Edit' | translate }}</a>
                          <a acl-check="buildingspotsList" ui-sref="buildingspotsList" class="btn default ">{{ 'Back to list' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <tabset vertical="false" type="pills">
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
          </tabset>
        </div>
      </div>
  </section>

