<div class="row" ng-controller="UserIndexController">
	<div class="col-md-12 content">
  <div ui-view="" class="ng-scope">
    <div class='none'>
      <div class="portlet-body">
        <div class="row crm-tabbedview-header">
          <div class="col-md-6 col-sm-12">
          <a type="button" class="btn-crm-header btn btn-sm btn-primary btn-icon glyphicons circle_plus" ui-sref='users.add'"> {{'Add' | translate }} {{'User' | translate }}</a>
          </div>          
          <div class="col-md-6 col-sm-12">
            <div class="input-group input-group-sm crm-header-search" style="padding-bottom:10px;">
              <span class="input-group-addon"><i class="glyphicons search"></i></span>
              <input type="text" class="form-control" placeholder="{{'Search' | translate}}" ng-model="filterBy['sSearch']">
            </div>            
          </div>
        </div>        
        <div class="crm-list-table" tasty-table bind-resource-callback="getUser" bind-init="init" bind-filters="filterBy">
          <div class='table-scrollable'>
          <table class="table table-hover no-footer table-condensed">
            <thead tasty-thead not-sort-by="['actions']"></thead>
            <tbody>
              <tr ng-if="!rows.length"><td colspan="{{(header.columns).length}}"><center>{{'No data found' | translate }}</center></td></tr>
              <tr ng-repeat="row in rows track by $index">
          <td class="tasty-table-td" ng-mouseenter="(editingField = 'createdAt_' + $index)"
            ng-mouseleave="(editingField = undefined)">
            <span ng-if="!(editingCustomField == 'createdAt_' + $index)">
              {{ row.User.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}
            </span>
            <div ng-if="(editingCustomField == 'createdAt_' + $index)" class="form-inline editable-wrap editable-text">
            <div class="editable-controls form-group">
            <div class="input-group" style="width:109px !important;">
            <input type="text" readonly class="form-control input-sm" 
              ng-model="row.User.createdAt" 
              id="UsercreatedAt{{row.User.id}}"
              name="UsercreatedAt{{row.User.id}}"
              data-date-format="yyyy-MM-dd"
              data-model-date-format="yyyy-MM-dd HH:mm:ss"
              data-date-type="string"
              data-container="body" data-autoclose="false"
              ng-change="updateUser(row.User)"
              bs-datepicker 
              style="font-size:12px;">
                <span class="input-group-btn">
                    <label class="btn btn-default btn-dt-sm" for="UsercreatedAt{{row.User.id}}">
                    <i class="glyphicon glyphicon-calendar"></i></label>
                </span>                   
            </div>          
            <div class="input-group" style="width:98px !important;">
            <input readonly data-container="body" type="text"
                data-time-type="string"
                data-model-time-format="yyyy-MM-dd HH:mm:ss"
                class="form-control input-sm" ng-model="row.User.createdAt" 
                id="UsercreatedAt{{row.User.id}}Time" 
                name="UsercreatedAt{{row.User.id}}Time" bs-timepicker
                ng-change="updateUser(row.User)"
                style="font-size:12px;">
            <span class="input-group-btn">
              <label class="btn btn-default btn-dt-sm" for="UsercreatedAt{{row.User.id}}Time">
              <i class="glyphicon glyphicon-time"></i></label>
            </span>     
            </div>
            </div> 
            <span class="editable-buttons">
              <button type="button" class="btn blue btn-xs" ng-click="editCustomField(undefined)" tabindex="0"><span class="glyphicon glyphicon-remove"></span>
              </button>
            </span> 
          </div>
            <a href="javascript:;" ng-if="(editingField == 'createdAt_' + $index) && !(editingCustomField == 'createdAt_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="editCustomField('createdAt_' + $index)">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
          </td>

          <td class="tasty-table-td" ng-mouseenter="(editingField = 'updatedAt_' + $index)"
            ng-mouseleave="(editingField = undefined)">
            <span ng-if="!(editingCustomField == 'updatedAt_' + $index)">
              {{ row.User.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}
            </span>
            <div ng-if="(editingCustomField == 'updatedAt_' + $index)" class="form-inline editable-wrap editable-text">
            <div class="editable-controls form-group">
            <div class="input-group" style="width:109px !important;">
            <input type="text" readonly class="form-control input-sm" 
              ng-model="row.User.updatedAt" 
              id="UserupdatedAt{{row.User.id}}"
              name="UserupdatedAt{{row.User.id}}"
              data-date-format="yyyy-MM-dd"
              data-model-date-format="yyyy-MM-dd HH:mm:ss"
              data-date-type="string"
              data-container="body" data-autoclose="false"
              ng-change="updateUser(row.User)"
              bs-datepicker 
              style="font-size:12px;">
                <span class="input-group-btn">
                    <label class="btn btn-default btn-dt-sm" for="UserupdatedAt{{row.User.id}}">
                    <i class="glyphicon glyphicon-calendar"></i></label>
                </span>                   
            </div>          
            <div class="input-group" style="width:98px !important;">
            <input readonly data-container="body" type="text"
                data-time-type="string"
                data-model-time-format="yyyy-MM-dd HH:mm:ss"
                class="form-control input-sm" ng-model="row.User.updatedAt" 
                id="UserupdatedAt{{row.User.id}}Time" 
                name="UserupdatedAt{{row.User.id}}Time" bs-timepicker
                ng-change="updateUser(row.User)"
                style="font-size:12px;">
            <span class="input-group-btn">
              <label class="btn btn-default btn-dt-sm" for="UserupdatedAt{{row.User.id}}Time">
              <i class="glyphicon glyphicon-time"></i></label>
            </span>     
            </div>
            </div> 
            <span class="editable-buttons">
              <button type="button" class="btn blue btn-xs" ng-click="editCustomField(undefined)" tabindex="0"><span class="glyphicon glyphicon-remove"></span>
              </button>
            </span> 
          </div>
            <a href="javascript:;" ng-if="(editingField == 'updatedAt_' + $index) && !(editingCustomField == 'updatedAt_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="editCustomField('updatedAt_' + $index)">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
          </td>

				<td class="tasty-table-td" ng-mouseenter="(editingField = 'createdBy_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-number="row.User.createdBy" onaftersave="updateUser(row.User)"
             e-step="1" e-form="UsercreatedBy">
              {{ row.User.createdBy || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'createdBy_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="UsercreatedBy.$show()" ng-hide="UsercreatedBy.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>

				<td class="tasty-table-td" ng-mouseenter="(editingField = 'updatedBy_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-number="row.User.updatedBy" onaftersave="updateUser(row.User)"
             e-step="1" e-form="UserupdatedBy">
              {{ row.User.updatedBy || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'updatedBy_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="UserupdatedBy.$show()" ng-hide="UserupdatedBy.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>

				<td class="tasty-table-td" ng-mouseenter="(editingField = 'username_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-text="row.User.username" onaftersave="updateUser(row.User)"
              e-form="Userusername">
              {{ row.User.username || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'username_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="Userusername.$show()" ng-hide="Userusername.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>

				<td class="tasty-table-td" ng-mouseenter="(editingField = 'email_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-text="row.User.email" onaftersave="updateUser(row.User)"
              e-form="Useremail">
              {{ row.User.email || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'email_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="Useremail.$show()" ng-hide="Useremail.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>

				<td class="tasty-table-td" ng-mouseenter="(editingField = 'password_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-text="row.User.password" onaftersave="updateUser(row.User)"
              e-form="Userpassword">
              {{ row.User.password || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'password_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="Userpassword.$show()" ng-hide="Userpassword.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>

        <td class="tasty-table-td" ng-mouseenter="(editingField = 'name_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-text="row.User.name" onaftersave="updateUser(row.User)"   e-form="Username">
              <a ui-sref="users.edit({ id: row.User.id })">{{row.User.name}}</a>
          </span>
          <a href="javascript:;" ng-if="(editingField == 'name_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="Username.$show()" ng-hide="Username.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>
				<td class="tasty-table-td" ng-mouseenter="(editingField = 'firstName_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-text="row.User.firstName" onaftersave="updateUser(row.User)"
              e-form="UserfirstName">
              {{ row.User.firstName || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'firstName_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="UserfirstName.$show()" ng-hide="UserfirstName.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>

				<td class="tasty-table-td" ng-mouseenter="(editingField = 'lastName_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-text="row.User.lastName" onaftersave="updateUser(row.User)"
              e-form="UserlastName">
              {{ row.User.lastName || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'lastName_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="UserlastName.$show()" ng-hide="UserlastName.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>

				<td class="tasty-table-td" ng-mouseenter="(editingField = 'gender_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-text="row.User.gender" onaftersave="updateUser(row.User)"
              e-form="Usergender">
              {{ row.User.gender || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'gender_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="Usergender.$show()" ng-hide="Usergender.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>

          <td class="tasty-table-td" ng-mouseenter="(editingField = 'group_id_' + $index)"
            ng-mouseleave="(editingField = undefined)">
            <span ng-if="!(editingCustomField == 'group_id_' + $index)">
              <a href="/#/groups/edit/{{row.User.group_id}}">{{row.Group.name || '&nbsp;'}}</a>
            </span>
            <div ng-if="(editingCustomField == 'group_id_' + $index)" class="button-group" style="width:164px !important;">           
                <ui-select ng-model="row.Group" 
                  theme="select2"
                  append-to-body="true"
                  search-enabled="true"
                  reset-search-input="true" 
                  on-select="setUserGroup(row.User, row.Group)"
                  required>
                  <ui-select-match placeholder="{{'Select' | translate}}&nbsp;Group...">{{row.Group.name}}</ui-select-match>
                    <ui-select-choices style="white-space:nowrap;" repeat="irow in groups track by $index"
                           refresh="($select.search) ? getGroups($select.search):''"
                           refresh-delay="1000">
                    <span ng-bind-html="irow.name | translate | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
                <span class="editable-buttons">
                  <button type="button" class="btn blue btn-xs" ng-click="editCustomField(undefined)" tabindex="0"><span class="glyphicon glyphicon-remove"></span>
                  </button>
                </span>              
            </div>
            <a href="javascript:;" ng-if="(editingField == 'group_id_' + $index) && !(editingCustomField == 'group_id_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="editCustomField('group_id_' + $index)">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
          </td>
          <td class="tasty-table-td" ng-mouseenter="(editingField = 'workstation_id_' + $index)"
            ng-mouseleave="(editingField = undefined)">
            <span ng-if="!(editingCustomField == 'workstation_id_' + $index)">
              <a href="/#/workstations/edit/{{row.User.workstation_id}}">{{row.Workstation.name || '&nbsp;'}}</a>
            </span>
            <div ng-if="(editingCustomField == 'workstation_id_' + $index)" class="button-group" style="width:164px !important;">           
                <ui-select ng-model="row.Workstation" 
                  theme="select2"
                  append-to-body="true"
                  search-enabled="true"
                  reset-search-input="true" 
                  on-select="setUserWorkstation(row.User, row.Workstation)"
                  required>
                  <ui-select-match placeholder="{{'Select' | translate}}&nbsp;Workstation...">{{row.Workstation.name}}</ui-select-match>
                    <ui-select-choices style="white-space:nowrap;" repeat="irow in workstations track by $index"
                           refresh="($select.search) ? getWorkstations($select.search):''"
                           refresh-delay="1000">
                    <span ng-bind-html="irow.name | translate | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
                <span class="editable-buttons">
                  <button type="button" class="btn blue btn-xs" ng-click="editCustomField(undefined)" tabindex="0"><span class="glyphicon glyphicon-remove"></span>
                  </button>
                </span>              
            </div>
            <a href="javascript:;" ng-if="(editingField == 'workstation_id_' + $index) && !(editingCustomField == 'workstation_id_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="editCustomField('workstation_id_' + $index)">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
          </td>
				<td class="tasty-table-td" ng-mouseenter="(editingField = 'status_' + $index)"
          ng-mouseleave="(editingField = undefined)">
          <span editable-text="row.User.status" onaftersave="updateUser(row.User)"
              e-form="Userstatus">
              {{ row.User.status || '&nbsp;' }}
          </span>
          <a href="javascript:;" ng-if="(editingField == 'status_' + $index)" class="btn-crm-inline-edit btn-crm-default btn btn-circle btn-xs btn-default" ng-click="Userstatus.$show()" ng-hide="Userstatus.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>


                <td class="tasty-table-td actions">
                  <div class="btn-group btn-group-circle">
                    <a href="#/users/edit/{{row.User.id}}" class="btn-crm-default btn btn-default btn-xs" >
                      <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a href="#" class="btn-crm-default btn btn-default btn-xs" ng-click="deleteUser(row.User)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a href="#" class="btn-crm-default btn btn-default btn-xs" ng-click="setAboutRecord(header, row)" data-animation="am-fade-and-slide-top" data-toogle="modal" data-template="../tpl/modal-about-record.html" bs-modal="modal">
                        <i class="glyphicon glyphicon-info-sign"></i>                     
                    </a>                       
                  </div>
                </td>                
              </tr>
            </tbody>
          </table>
          </div> 
          <div class="crm-list-pagination" tasty-pagination list-items-per-page="[10,15,30,50]"></div>
        </div> 
       <div class="separator line"></div>
       <div class="separator line"></div>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
		</div>
    </div>
	</div>	
</div>