              <section ng-controller="WorkareasController" data-ng-init="prepareData()">
    <h3 class="page-title"></i>{{ 'Workareas' | translate }}</h3>
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
        <div class="tools">
          <a href="javascript:;" ng-click="prepareData()" class="reload"></a>
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="workareaForm" class="form-horizontal" role="form" data-ng-submit="create(workareaForm.$valid)" novalidate>
          <div class="form-body">
                            <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && workareaForm.name.$invalid }">
                      <label for="name" class="col-md-4 control-label">{{ 'name' | translate }}</label>
                      <div class="col-md-8">
                        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && workareaForm.name.$invalid" class="help-block">
                          <p ng-show="workareaForm.name.$error.required">
                            {{ 'name field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && workareaForm.description.$invalid }">
                      <label for="description" class="col-md-4 control-label">{{ 'description' | translate }}</label>
                      <div class="col-md-8">
                        <input name="description" type="text" class="form-control" data-ng-model="description" id="description" placeholder="{{ 'description' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && workareaForm.description.$invalid" class="help-block">
                          <p ng-show="workareaForm.description.$error.required">
                            {{ 'description field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && workareaForm.lov_workarea_status.$invalid }">
                      <label for="lov_workarea_status" class="col-md-4 control-label">{{ 'lov_workarea_status' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lov_workarea_status" type="text" class="form-control" data-ng-model="lov_workarea_status" id="lov_workarea_status" placeholder="{{ 'lov_workarea_status' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && workareaForm.lov_workarea_status.$invalid" class="help-block">
                          <p ng-show="workareaForm.lov_workarea_status.$error.required">
                            {{ 'lov_workarea_status field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                
            <div class="form-actions">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                </div>
                <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button type="submit" ng-disabled="!session.acl.workareas.postAction" class="btn blue-madison">{{ 'Save' | translate }}</button>
                      <a ui-sref="workareasList" ng-disabled="!session.acl.workareas.getAction" class="btn default {{(!session.acl.workareas.getAction) ? 'disabled' : ''}}">{{ 'Cancel' | translate }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
            </section>
