              <section ng-controller="WorkareasController" data-ng-init="prepareData()">
    <h3 class="page-title">{{ 'Workarea' | translate }}</h3>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption font-green-sharp">
              {{ 'View' | translate }}
            </div>
            <div class="tools">
              <a href="javascript:;" ng-click="prepareData()" class="reload"></a>
            </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form name="workareaForm" class="form-horizontal" role="form" >
              <div class="form-body">
                                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && workareaForm.name.$invalid }">
                            <label for="name" class="col-md-4 control-label">{{ 'name' | translate }}</label>
                            <div class="col-md-8">
                              <input name="name" readonly="readonly" type="text" class="form-control" data-ng-model="workarea.name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
                              <span ng-show="submitted && workareaForm.name.$invalid" class="help-block">
                                <p ng-show="workareaForm.name.$error.required">
                                  {{ 'name field is required' | translate }}
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                                            <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && workareaForm.description.$invalid }">
                            <label for="description" class="col-md-4 control-label">{{ 'description' | translate }}</label>
                            <div class="col-md-8">
                              <input name="description" readonly="readonly" type="text" class="form-control" data-ng-model="workarea.description" id="description" placeholder="{{ 'description' | translate }}" autocomplete="off"  >
                              <span ng-show="submitted && workareaForm.description.$invalid" class="help-block">
                                <p ng-show="workareaForm.description.$error.required">
                                  {{ 'description field is required' | translate }}
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                                      <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <a href="/#/workareas/edit/{{workarea.id}}" class="btn blue-madison">{{ 'Edit' | translate }}</a>
                          <a ui-sref="workareasList" class="btn default">{{ 'Back to list' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <tabset vertical="false" type="pills">
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
          </tabset>
        </div>
      </div>
  </section>

