              <section ng-controller="RolestatesController" data-ng-init="prepareData()">
    <h3 class="page-title"></i>{{ 'Rolestates' | translate }}</h3>
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
        <div class="tools">
          <a href="javascript:;" ng-click="prepareData()" class="reload"></a>
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="rolestateForm" class="form-horizontal" role="form" data-ng-submit="create(rolestateForm.$valid)" novalidate>
          <div class="form-body">
                                  <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && rolestateForm.role_id.$invalid }">
                              <label for="role_id" class="col-md-4 control-label">{{ 'role' | translate }}</label>
                              <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select required ng-model="selectedRole.selected" name="role_id" theme="bootstrap" >
                                      <ui-select-match placeholder="{{ 'Select Role' || translate }}...">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in roles | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                      </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn btn-right">
                                        <a class="btn grey" type="button" ng-click="selectedRole.selected = undefined">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </div>
                                  <span ng-show="submitted && rolestateForm.role_id.$invalid" class="help-block">
                                      <p ng-show="rolestateForm.role_id.$error.required">
                                          {{ 'role_id field is required' | translate }}
                                      </p>
                                  </span>
                              </div>
                          </div>
                        </div>
                      </div>

                                      <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && rolestateForm.statename.$invalid }">
                      <label for="statename" class="col-md-4 control-label">{{ 'statename' | translate }}</label>
                      <div class="col-md-8">
                        <input name="statename" type="text" class="form-control" data-ng-model="statename" id="statename" placeholder="{{ 'statename' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && rolestateForm.statename.$invalid" class="help-block">
                          <p ng-show="rolestateForm.statename.$error.required">
                            {{ 'statename field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && rolestateForm.accessit.$invalid }">
                      <label for="accessit" class="col-md-4 control-label">{{ 'accessit' | translate }}</label>
                      <div class="col-md-8">
                        <input name="accessit" type="text" class="form-control" data-ng-model="accessit" id="accessit" placeholder="{{ 'accessit' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && rolestateForm.accessit.$invalid" class="help-block">
                          <p ng-show="rolestateForm.accessit.$error.required">
                            {{ 'accessit field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                
            <div class="form-actions">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                </div>
                <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button type="submit" ng-disabled="!session.acl.rolestates.postAction" class="btn blue-madison">{{ 'Save' | translate }}</button>
                      <a ui-sref="rolestatesList" ng-disabled="!session.acl.rolestates.getAction" class="btn default {{(!session.acl.rolestates.getAction) ? 'disabled' : ''}}">{{ 'Cancel' | translate }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
            </section>
