              <section ng-controller="RolestatesCtrl" >
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="rolestateForm" class="form-horizontal" role="form" data-ng-submit="create(rolestateForm.$valid)" novalidate>
          <div class="form-body">
            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolestateForm.role_id.$invalid }">
        <label for="role_id" class="col-md-4 control-label">{{ 'rolestate-role' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select required ng-model="selectedRole.selected" name="role_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Role' | translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in roles | limitTo: 10 track by $index"  refresh="findRoles($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedRole.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && rolestateForm.role_id.$invalid" class="help-block">
                <p ng-show="rolestateForm.role_id.$error.required">
                    {{ 'rolestate-role_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>
                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolestateForm.statename.$invalid }">
      <label for="statename" class="col-md-4 control-label">{{ 'rolestate-statename' | translate }}</label>
      <div class="col-md-8">
        <input name="statename" type="text" class="form-control" data-ng-model="statename" id="statename" placeholder="{{ 'rolestate-statename' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolestateForm.statename.$invalid" class="help-block">
          <p ng-show="rolestateForm.statename.$error.required">
            {{ 'rolestate-statename field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && rolestateForm.accessit.$invalid }">
      <label for="accessit" class="col-md-4 control-label">{{ 'rolestate-accessit' | translate }}</label>
      <div class="col-md-8">
        <input name="accessit" type="text" class="form-control" data-ng-model="accessit" id="accessit" placeholder="{{ 'rolestate-accessit' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && rolestateForm.accessit.$invalid" class="help-block">
          <p ng-show="rolestateForm.accessit.$error.required">
            {{ 'rolestate-accessit field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && rolestateForm.lov_rolestate_status.$invalid }">
          <label for="lov_rolestate_status" class="col-md-4 control-label">{{ 'rolestate-lov_rolestate_status' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select  ng-model="lovRolestateStatus.selected" theme="bootstrap" name="lov_rolestate_status" >
                      <ui-select-match placeholder="{{ 'Select lov_rolestate_status' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovRolestateStatuses" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'ROLESTATE_STATUS', 'lovRolestateStatuses', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovRolestateStatus.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && rolestateForm.lov_rolestate_status.$invalid" class="help-block">
                  <p ng-show="rolestateForm.lov_rolestate_status.$error.required">
                      {{ 'rolestate-lov_rolestate_status field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="form-actions">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>
    <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="submit" acl-check="rolestatesCreate" class="btn blue-madison">{{ 'Save' | translate }}</button>
          <a href="javascript:;" ui-sref="rolestatesList" class="btn default ">{{ 'Back to rolestates list' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

          </div>
        </form>
      </div>
    </div>
            </section>
