<style>
/* Contextual table row variants */
/* Override from template */
.table > thead > tr > td,
.table > thead > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    background: #FFFFFF !important;
    color: #004b54 !important;
    cursor: pointer;
}
.editable-click, a.editable-click {
    cursor: pointer;
}
</style>
<section data-ng-controller="RolestatesCtrl">
<h3 class="page-title">{{ 'Rolestates' | translate }}</h3>
  <!-- BEGIN Portlet PORTLET-->
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-green-sharp">
        {{ 'List' | translate }}
      </div>
      <div class="actions">
        <a acl-check="rolestatesCreate" ui-sref="rolestatesCreate" class="btn btn-sm green-haze ">
          <i class="fa fa-plus"></i>&nbsp;{{'Add' | translate}}
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group form-md-line-input has-info">
                  <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="input-group-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}" ng-model="rolestateFilters" value="">
                          <div class="form-control-focus">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="table-responsive">
            <div tasty-table bind-resource-callback="getRolestates" bind-filters="rolestateFilters" >
                  <table class="table table-striped table-condensed">
                      <thead tasty-thead></thead>
                      <tbody>
                          <tr ng-show="!rows.length"><td colspan="{{(header.columns).length}}"><center>{{'No data found' | translate }}</center></td></tr>
                          <tr ng-repeat="rolestate in rows">
                            
<td class="tasty-table-td">
  <a ng-if="rolestate.role_id.id" ng-disabled="!session.aclstates.rolesView" href="/#/roles/view/{{rolestate.role_id.id}}"  class="btn btn-xs btn-circle btn-block blue {{(!session.aclstates.rolesView) ? 'disabled' : ''}}">
      {{ ( rolestate.role_id.name || '...' ) | translate  }}
      <i class="fa fa-share"></i>
  </a>
  <a ng-if="!rolestate.role_id.id" href="javascript:;">...</a>
</td>

                                                
<td class="tasty-table-td">
  {{ ( rolestate.statename || '...' ) | translate  }}
</td>

                                    
<td class="tasty-table-td">
  {{ ( rolestate.accessit || '...' ) | translate  }}
</td>

                                    
<td class="tasty-table-td" data-ng-init="fgetLovs('equals', '', 'ROLESTATE_STATUS', 'lov_rolestate_status', rolestate.lov_rolestate_status, rolestate)" >
  {{ ( rolestate.lov_rolestate_status[0]['name_' + selectedLanguage] || '...' ) | translate  }}
</td>

                                                                  <td>
                                <div class="actions">
                                    <a acl-check="rolestatesView" href="/#/rolestates/view/{{rolestate.id}}" class="btn btn-xs btn-circle btn-block blue">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a acl-check="rolestatesEdit" href="/#/rolestates/edit/{{rolestate.id}}" class="btn btn-xs btn-circle btn-block yellow-casablanca" >
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                <div tasty-pagination ></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Portlet PORTLET-->
</section>