              <section ng-controller="CtrlsCtrl" >
    <h3 class="page-title"></i>{{ 'Ctrls' | translate }}</h3>
    
            <div class="portlet light bordered">
              <div class="portlet-title">
                <div class="caption font-green-sharp">
                  {{ 'Edit' | translate }}
                </div>
              </div>
              <div class="portlet-body form" data-ng-init="findOne()">
                <!-- BEGIN FORM-->
                <form name="ctrlForm" class="form-horizontal" role="form" data-ng-submit="update(ctrlForm.$valid)" novalidate>
                  <div class="form-body">
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && ctrlForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'ctrl-name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" type="text" class="form-control" data-ng-model="ctrl.name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && ctrlForm.name.$invalid" class="help-block">
          <p ng-show="ctrlForm.name.$error.required">
            {{ 'ctrl-name field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && ctrlForm.lov_ctrl_status.$invalid }">
          <label for="lov_ctrl_status" class="col-md-4 control-label">{{ 'ctrl-lov_ctrl_status' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select  ng-model="lovCtrlStatus.selected" theme="bootstrap" name="lov_ctrl_status" >
                      <ui-select-match placeholder="{{ 'Select lov_ctrl_status' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovCtrlStatuses" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'CTRL_STATUS', 'lovCtrlStatuses', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovCtrlStatus.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && ctrlForm.lov_ctrl_status.$invalid" class="help-block">
                  <p ng-show="ctrlForm.lov_ctrl_status.$error.required">
                      {{ 'ctrl-lov_ctrl_status field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="form-actions">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
          <button type="submit" acl-check="ctrlsEdit" class="btn blue-madison">{{ 'Save' | translate }}</button>
          <a href="javascript:;" back-button class="btn default ">{{ 'Cancel' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

          </div>
        </form>
      </div>
    </div>

                    </section>
