              <section ng-controller="RequestsController" data-ng-init="prepareData()">
    <h3 class="page-title"></i>{{ 'Requests' | translate }}</h3>
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
        <div class="tools">
          <a href="javascript:;" ng-click="prepareData()" class="reload"></a>
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="requestForm" class="form-horizontal" role="form" data-ng-submit="create(requestForm.$valid)" novalidate>
          <div class="form-body">
                            <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.folio.$invalid }">
                      <label for="folio" class="col-md-4 control-label">{{ 'folio' | translate }}</label>
                      <div class="col-md-8">
                        <input name="folio" type="text" class="form-control" data-ng-model="folio" id="folio" placeholder="{{ 'folio' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && requestForm.folio.$invalid" class="help-block">
                          <p ng-show="requestForm.folio.$error.required">
                            {{ 'folio field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.name.$invalid }">
                      <label for="name" class="col-md-4 control-label">{{ 'name' | translate }}</label>
                      <div class="col-md-8">
                        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && requestForm.name.$invalid" class="help-block">
                          <p ng-show="requestForm.name.$error.required">
                            {{ 'name field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.description.$invalid }">
                      <label for="description" class="col-md-4 control-label">{{ 'description' | translate }}</label>
                      <div class="col-md-8">
                        <input name="description" type="text" class="form-control" data-ng-model="description" id="description" placeholder="{{ 'description' | translate }}" autocomplete="off"  >
                        <span ng-show="submitted && requestForm.description.$invalid" class="help-block">
                          <p ng-show="requestForm.description.$error.required">
                            {{ 'description field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_status.$invalid }">
                      <label for="lov_request_status" class="col-md-4 control-label">{{ 'lov_request_status' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lov_request_status" type="text" class="form-control" data-ng-model="lov_request_status" id="lov_request_status" placeholder="{{ 'lov_request_status' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && requestForm.lov_request_status.$invalid" class="help-block">
                          <p ng-show="requestForm.lov_request_status.$error.required">
                            {{ 'lov_request_status field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_type.$invalid }">
                      <label for="lov_request_type" class="col-md-4 control-label">{{ 'lov_request_type' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lov_request_type" type="text" class="form-control" data-ng-model="lov_request_type" id="lov_request_type" placeholder="{{ 'lov_request_type' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && requestForm.lov_request_type.$invalid" class="help-block">
                          <p ng-show="requestForm.lov_request_type.$error.required">
                            {{ 'lov_request_type field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_subtype.$invalid }">
                      <label for="lov_request_subtype" class="col-md-4 control-label">{{ 'lov_request_subtype' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lov_request_subtype" type="text" class="form-control" data-ng-model="lov_request_subtype" id="lov_request_subtype" placeholder="{{ 'lov_request_subtype' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && requestForm.lov_request_subtype.$invalid" class="help-block">
                          <p ng-show="requestForm.lov_request_subtype.$error.required">
                            {{ 'lov_request_subtype field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_priority.$invalid }">
                      <label for="lov_request_priority" class="col-md-4 control-label">{{ 'lov_request_priority' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lov_request_priority" type="text" class="form-control" data-ng-model="lov_request_priority" id="lov_request_priority" placeholder="{{ 'lov_request_priority' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && requestForm.lov_request_priority.$invalid" class="help-block">
                          <p ng-show="requestForm.lov_request_priority.$error.required">
                            {{ 'lov_request_priority field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_severity.$invalid }">
                      <label for="lov_request_severity" class="col-md-4 control-label">{{ 'lov_request_severity' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lov_request_severity" type="text" class="form-control" data-ng-model="lov_request_severity" id="lov_request_severity" placeholder="{{ 'lov_request_severity' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && requestForm.lov_request_severity.$invalid" class="help-block">
                          <p ng-show="requestForm.lov_request_severity.$error.required">
                            {{ 'lov_request_severity field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.owner.$invalid }">
                      <label for="owner" class="col-md-4 control-label">{{ 'owner' | translate }}</label>
                      <div class="col-md-8">
                        <input name="owner" type="text" class="form-control" data-ng-model="owner" id="owner" placeholder="{{ 'owner' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && requestForm.owner.$invalid" class="help-block">
                          <p ng-show="requestForm.owner.$error.required">
                            {{ 'owner field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                
            <div class="form-actions">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                </div>
                <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button type="submit" ng-disabled="!session.acl.requests.postAction" class="btn blue-madison">{{ 'Save' | translate }}</button>
                      <a ui-sref="requestsList" ng-disabled="!session.acl.requests.getAction" class="btn default {{(!session.acl.requests.getAction) ? 'disabled' : ''}}">{{ 'Cancel' | translate }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
            </section>
