              <section ng-controller="RequestsCtrl" data-ng-init="findOne()">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption font-green-sharp">
              {{ 'View' | translate }}
            </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form name="requestForm" class="form-horizontal" role="form" >
              <div class="form-body">
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && request.buildingspot_id.$invalid }">
      <label for="buildingspot_id" class="col-md-4 control-label">{{ 'request-buildingspot' | translate }}</label>
      <div class="col-md-8">
        <input name="buildingspot_id" readonly="readonly" type="text" class="form-control" data-ng-model="request.buildingspot_id.name" id="buildingspot_id" placeholder="{{ 'request-buildingspot_id' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>

                                            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'request-name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" readonly="readonly" type="text" class="form-control" data-ng-model="request.name" id="name" placeholder="{{ 'request-name' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_status.$invalid }">
      <label for="lov_request_status" class="col-md-4 control-label">{{ 'request-lov_request_status' | translate }}</label>
      <div class="col-md-8">
        <span load-lovtype="REQUEST_STATUS" load-lovtype-value="{{request.lov_request_status}}" ></span>
      </div>
    </div>
  </div>
</div>

                                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_type.$invalid }">
      <label for="lov_request_type" class="col-md-4 control-label">{{ 'request-lov_request_type' | translate }}</label>
      <div class="col-md-8">
        <span load-lovtype="REQUEST_TYPE" load-lovtype-value="{{request.lov_request_type}}" ></span>
      </div>
    </div>
  </div>
</div>

                                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_subtype.$invalid }">
      <label for="lov_request_subtype" class="col-md-4 control-label">{{ 'request-lov_request_subtype' | translate }}</label>
      <div class="col-md-8">
        <span load-lovtype="REQUEST_SUBTYPE" load-lovtype-value="{{request.lov_request_subtype}}" ></span>
      </div>
    </div>
  </div>
</div>

                                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_priority.$invalid }">
      <label for="lov_request_priority" class="col-md-4 control-label">{{ 'request-lov_request_priority' | translate }}</label>
      <div class="col-md-8">
        <span load-lovtype="REQUEST_PRIORITY" load-lovtype-value="{{request.lov_request_priority}}" ></span>
      </div>
    </div>
  </div>
</div>

                                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.lov_request_severity.$invalid }">
      <label for="lov_request_severity" class="col-md-4 control-label">{{ 'request-lov_request_severity' | translate }}</label>
      <div class="col-md-8">
        <span load-lovtype="REQUEST_SEVERITY" load-lovtype-value="{{request.lov_request_severity}}" ></span>
      </div>
    </div>
  </div>
</div>

                                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && request.workstation_id.$invalid }">
      <label for="workstation_id" class="col-md-4 control-label">{{ 'request-workstation' | translate }}</label>
      <div class="col-md-8">
        <input name="workstation_id" readonly="readonly" type="text" class="form-control" data-ng-model="request.workstation_id.name" id="workstation_id" placeholder="{{ 'request-workstation_id' | translate }}" autocomplete="off"  >
      </div>
    </div>
  </div>
</div>

                                            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && requestForm.description.$invalid }">
      <label for="description" class="col-md-4 control-label">{{ 'request-description' | translate }}</label>
      <div class="col-md-8">
        <input name="description" readonly="readonly" type="text" class="form-control" data-ng-model="request.description" id="description" placeholder="{{ 'request-description' | translate }}" autocomplete="off"  >
      </div>
    </div>
  </div>
</div>
                                
                <div class="form-actions">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <a acl-check="requestsEdit" href="/#/requests/edit/{{request.id}}" class="btn blue-madison ">{{ 'Edit' | translate }}</a>
                          <a href="javascript:;" ui-sref="requestsList" class="btn default ">{{ 'Back to requests list' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <tabset vertical="false" type="pills">
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
          </tabset>
        </div>
      </div>
  </section>

