<style>
/* Contextual table row variants */
/* Override from template */
.table > thead > tr > td,
.table > thead > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    background: #FFFFFF !important;
    color: #004b54 !important;
    cursor: pointer;
}
.editable-click, a.editable-click {
    cursor: pointer;
}
</style>
<section data-ng-controller="RequestsCtrl">
<h3 class="page-title">{{ 'Requests' | translate }}</h3>
  <!-- BEGIN Portlet PORTLET-->
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-green-sharp">
        {{ 'List' | translate }}
      </div>
      <div class="actions">
        <a acl-check="requestsCreate" ui-sref="requestsCreate" class="btn btn-sm green-haze ">
          <i class="fa fa-plus"></i>&nbsp;{{'Add' | translate}}
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group form-md-line-input has-info">
                  <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="input-group-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}" ng-model="requestFilters" value="">
                          <div class="form-control-focus">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="table-responsive">
            <div tasty-table bind-resource-callback="getRequests" bind-filters="requestFilters" >
                  <table class="table table-striped table-condensed">
                      <thead tasty-thead></thead>
                      <tbody>
                          <tr ng-show="!rows.length"><td colspan="{{(header.columns).length}}"><center>{{'No data found' | translate }}</center></td></tr>
                          <tr ng-repeat="request in rows">
                            
<td class="tasty-table-td">
  <a ng-if="request.buildingspot_id.id" ng-disabled="!session.aclstates.buildingspotsView" href="/#/buildingspots/view/{{request.buildingspot_id.id}}"  class="btn btn-xs btn-circle btn-block blue {{(!session.aclstates.buildingspotsView) ? 'disabled' : ''}}">
      {{ ( request.buildingspot_id.name || '...' ) | translate  }}
      <i class="fa fa-share"></i>
  </a>
  <a ng-if="!request.buildingspot_id.id" href="javascript:;">...</a>
</td>

                                                
<td class="tasty-table-td">
  {{ ( request.name || '...' ) | translate  }}
</td>

                                    
<td class="tasty-table-td" data-ng-init="fgetLovs('equals', '', 'REQUEST_STATUS', 'lov_request_status', request.lov_request_status, request)" >
  {{ ( request.lov_request_status[0]['name_' + selectedLanguage] || '...' ) | translate  }}
</td>

                                    
<td class="tasty-table-td" data-ng-init="fgetLovs('equals', '', 'REQUEST_TYPE', 'lov_request_type', request.lov_request_type, request)" >
  {{ ( request.lov_request_type[0]['name_' + selectedLanguage] || '...' ) | translate  }}
</td>

                                    
<td class="tasty-table-td" data-ng-init="fgetLovs('equals', '', 'REQUEST_SUBTYPE', 'lov_request_subtype', request.lov_request_subtype, request)" >
  {{ ( request.lov_request_subtype[0]['name_' + selectedLanguage] || '...' ) | translate  }}
</td>

                                    
<td class="tasty-table-td" data-ng-init="fgetLovs('equals', '', 'REQUEST_PRIORITY', 'lov_request_priority', request.lov_request_priority, request)" >
  {{ ( request.lov_request_priority[0]['name_' + selectedLanguage] || '...' ) | translate  }}
</td>

                                    
<td class="tasty-table-td" data-ng-init="fgetLovs('equals', '', 'REQUEST_SEVERITY', 'lov_request_severity', request.lov_request_severity, request)" >
  {{ ( request.lov_request_severity[0]['name_' + selectedLanguage] || '...' ) | translate  }}
</td>

                                    
<td class="tasty-table-td">
  <a ng-if="request.workstation_id.id" ng-disabled="!session.aclstates.workstationsView" href="/#/workstations/view/{{request.workstation_id.id}}"  class="btn btn-xs btn-circle btn-block blue {{(!session.aclstates.workstationsView) ? 'disabled' : ''}}">
      {{ ( request.workstation_id.name || '...' ) | translate  }}
      <i class="fa fa-share"></i>
  </a>
  <a ng-if="!request.workstation_id.id" href="javascript:;">...</a>
</td>

                                                
<td class="tasty-table-td">
  {{ ( request.description || '...' ) | translate  }}
</td>

                                                                  <td>
                                <div class="actions">
                                    <a acl-check="requestsView" href="/#/requests/view/{{request.id}}" class="btn btn-xs btn-circle btn-block blue">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a acl-check="requestsEdit" href="/#/requests/edit/{{request.id}}" class="btn btn-xs btn-circle btn-block yellow-casablanca" >
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                <div tasty-pagination ></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Portlet PORTLET-->
</section>