              <section ng-controller="LovsController" data-ng-init="prepareData()">
    <h3 class="page-title"></i>{{ 'Lovs' | translate }}</h3>
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
        <div class="tools">
          <a href="javascript:;" ng-click="prepareData()" class="reload"></a>
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="lovForm" class="form-horizontal" role="form" data-ng-submit="create(lovForm.$valid)" novalidate>
          <div class="form-body">
                            <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.orderShow.$invalid }">
                      <label for="orderShow" class="col-md-4 control-label">{{ 'orderShow' | translate }}</label>
                      <div class="col-md-8">
                        <input name="orderShow" type="text" class="form-control" data-ng-model="orderShow" id="orderShow" placeholder="{{ 'orderShow' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && lovForm.orderShow.$invalid" class="help-block">
                          <p ng-show="lovForm.orderShow.$error.required">
                            {{ 'orderShow field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.lovType.$invalid }">
                      <label for="lovType" class="col-md-4 control-label">{{ 'lovType' | translate }}</label>
                      <div class="col-md-8">
                        <input name="lovType" type="text" class="form-control" data-ng-model="lovType" id="lovType" placeholder="{{ 'lovType' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && lovForm.lovType.$invalid" class="help-block">
                          <p ng-show="lovForm.lovType.$error.required">
                            {{ 'lovType field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.name_.$invalid }">
                      <label for="name_" class="col-md-4 control-label">{{ 'name_' | translate }}</label>
                      <div class="col-md-8">
                        <input name="name_" type="text" class="form-control" data-ng-model="name_" id="name_" placeholder="{{ 'name_' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && lovForm.name_.$invalid" class="help-block">
                          <p ng-show="lovForm.name_.$error.required">
                            {{ 'name_ field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.name_es_MX.$invalid }">
                      <label for="name_es_MX" class="col-md-4 control-label">{{ 'name_es_MX' | translate }}</label>
                      <div class="col-md-8">
                        <input name="name_es_MX" type="text" class="form-control" data-ng-model="name_es_MX" id="name_es_MX" placeholder="{{ 'name_es_MX' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && lovForm.name_es_MX.$invalid" class="help-block">
                          <p ng-show="lovForm.name_es_MX.$error.required">
                            {{ 'name_es_MX field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.name_en_US.$invalid }">
                      <label for="name_en_US" class="col-md-4 control-label">{{ 'name_en_US' | translate }}</label>
                      <div class="col-md-8">
                        <input name="name_en_US" type="text" class="form-control" data-ng-model="name_en_US" id="name_en_US" placeholder="{{ 'name_en_US' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && lovForm.name_en_US.$invalid" class="help-block">
                          <p ng-show="lovForm.name_en_US.$error.required">
                            {{ 'name_en_US field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.status.$invalid }">
                      <label for="status" class="col-md-4 control-label">{{ 'status' | translate }}</label>
                      <div class="col-md-8">
                        <input name="status" type="text" class="form-control" data-ng-model="status" id="status" placeholder="{{ 'status' | translate }}" autocomplete="off" required >
                        <span ng-show="submitted && lovForm.status.$invalid" class="help-block">
                          <p ng-show="lovForm.status.$error.required">
                            {{ 'status field is required' | translate }}
                          </p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && workstationForm.parent.$invalid }">
                              <label for="parent" class="col-md-4 control-label">{{ 'parentLov' | translate }}</label>
                              <div class="col-md-8">
                                  <ui-select  ng-model="selectedLov.selected" theme="bootstrap" ng-disabled="disabled" >
                                    <ui-select-match placeholder="{{ 'Select Lov' || translate }}...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in lovs | propsFilter: {name: $select.search}">
                                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                        </div>
                      </div>

                      
            <div class="form-actions">
              <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                      <button type="submit" class="btn btn-circle blue-madison">{{ 'Save' | translate }}</button>
                      <a ui-sref="lovsList" class="btn btn-circle default">{{ 'Cancel' | translate }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            