<style>
    /* Contextual table row variants */
    /* Override from template */
    .table > thead > tr > td,
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
    background: #FFFFFF !important;
    color: #004b54 !important;
    cursor: pointer;
    }
    .editable-click, a.editable-click {
    cursor: pointer;
    }
</style>
<section data-ng-init="prepareData()" data-ng-controller="LovsController">
    <div class="panel ">
        <div class="panel-heading bg-blue-madison text-center">
            <h3 class="panel-title">{{ 'Lovs' | translate }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form-md-line-input has-info">
                        <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group-control col-lg-8 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}" ng-model="lovFilters" value="">
                                <div class="form-control-focus">
                                </div>
                            </div>
                            <span class="input-group-btn btn-right col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <md-menu md-position-mode="target-right target">
                                    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                      <i class="fa fa-bars"></i>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ui-sref="lovsAdd">
                                            {{ 'Add lov' | translate }}
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-divider></md-menu-divider>
                                        <md-menu-item>
                                            <md-button ng-click="ExportToExcel()">
                                                <i class='fa fa-file-excel-o'></i>
                                                {{ 'Export to Excel' | translate }}
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="ExportToPDF()">
                                                <i class='fa fa-file-pdf-o'></i>
                                                {{ 'Export to PDF' | translate }}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div tasty-table bind-resource="ngtLovsResource" watch-resource="collection" bind-filters="lovFilters">
                        <div class='table-responsive'>
                            <table class="table table-striped table-condensed">
                                <thead tasty-thead></thead>
                                <tbody>
                                    <tr ng-show="!rows.length">
                                        <td colspan="{{(header.columns).length}}">
                                            <center>{{'No data found' | translate }}</center>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="lov in rows">
                                                                                <td class="tasty-table-td">
                                            <span onaftersave="editableUpdate(lov)" editable-text="lov.orderShow">
                                            {{ ( lov.orderShow || '...' ) | translate  }}
                                            </span>
                                        </td>
                                                                                <td class="tasty-table-td">
                                            <span onaftersave="editableUpdate(lov)" editable-text="lov.lovType">
                                            {{ ( lov.lovType || '...' ) | translate  }}
                                            </span>
                                        </td>
                                                                                <td class="tasty-table-td">
                                            <span onaftersave="editableUpdate(lov)" editable-text="lov.name_">
                                            {{ ( lov.name_ || '...' ) | translate  }}
                                            </span>
                                        </td>
                                                                                <td class="tasty-table-td">
                                            <span onaftersave="editableUpdate(lov)" editable-text="lov.name_es_MX">
                                            {{ ( lov.name_es_MX || '...' ) | translate  }}
                                            </span>
                                        </td>
                                                                                <td class="tasty-table-td">
                                            <span onaftersave="editableUpdate(lov)" editable-text="lov.name_en_US">
                                            {{ ( lov.name_en_US || '...' ) | translate  }}
                                            </span>
                                        </td>
                                                                                <td class="tasty-table-td">
                                            <span onaftersave="editableUpdate(lov)" editable-text="lov.status">
                                            {{ ( lov.status || '...' ) | translate  }}
                                            </span>
                                        </td>
                                                                                <td class="tasty-table-td">
                                            <span onaftersave="editableUpdate(lov)" editable-text="lov.parent_id">
                                            {{ ( lov.parent_id || '...' ) | translate  }}
                                            </span>
                                        </td>
                                                                                <td>
                                            <div class="actions">
                                                <a ng-href="/lov/view/{{lov.id}}" class="btn btn-circle btn-icon-only blue ">
                                                <i class="fa fa-eye"></i>
                                                </a>
                                                <a ng-href="/lov/edit/{{lov.id}}" class="btn btn-circle btn-icon-only yellow-casablanca " >
                                                <i class="fa fa-pencil"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div tasty-pagination bind-items-per-page="ngTitemsPerPage" bind-list-items-per-page="ngTlistItemsPerPage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>