              <section ng-controller="LovsController" data-ng-init="prepareData()">
    <h3 class="page-title">{{ 'Lovs' | translate }}</h3>
  	<div class="portlet box blue-madison">
  		<div class="portlet-title">
  			<div class="caption">
  				{{ 'View' | translate }}
  			</div>
  			<div class="tools">
  				<a href="javascript:;" ng-click="prepareData()" class="reload"></a>
  			</div>
  		</div>
  		<div class="portlet-body form">
  			<!-- BEGIN FORM-->
  			<form name="lovForm" class="form-horizontal" role="form" >
  				<div class="form-body">
  					  								<div class="row">
  									<div class="col-md-12">
  										<div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.orderShow.$invalid }">
  											<label for="orderShow" class="col-md-4 control-label">{{ 'orderShow' | translate }}</label>
  											<div class="col-md-8">
  												<input name="orderShow" readonly="readonly" type="text" class="form-control" data-ng-model="lov.orderShow" id="orderShow" placeholder="{{ 'orderShow' | translate }}" autocomplete="off" required >
  												<span ng-show="submitted && lovForm.orderShow.$invalid" class="help-block">
  													<p ng-show="lovForm.orderShow.$error.required">
  														{{ 'orderShow field is required' | translate }}
  													</p>
  												</span>
  											</div>
  										</div>
  									</div>
  								</div>
  								  								<div class="row">
  									<div class="col-md-12">
  										<div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.lovType.$invalid }">
  											<label for="lovType" class="col-md-4 control-label">{{ 'lovType' | translate }}</label>
  											<div class="col-md-8">
  												<input name="lovType" readonly="readonly" type="text" class="form-control" data-ng-model="lov.lovType" id="lovType" placeholder="{{ 'lovType' | translate }}" autocomplete="off" required >
  												<span ng-show="submitted && lovForm.lovType.$invalid" class="help-block">
  													<p ng-show="lovForm.lovType.$error.required">
  														{{ 'lovType field is required' | translate }}
  													</p>
  												</span>
  											</div>
  										</div>
  									</div>
  								</div>
  								  								<div class="row">
  									<div class="col-md-12">
  										<div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.name_.$invalid }">
  											<label for="name_" class="col-md-4 control-label">{{ 'name_' | translate }}</label>
  											<div class="col-md-8">
  												<input name="name_" readonly="readonly" type="text" class="form-control" data-ng-model="lov.name_" id="name_" placeholder="{{ 'name_' | translate }}" autocomplete="off" required >
  												<span ng-show="submitted && lovForm.name_.$invalid" class="help-block">
  													<p ng-show="lovForm.name_.$error.required">
  														{{ 'name_ field is required' | translate }}
  													</p>
  												</span>
  											</div>
  										</div>
  									</div>
  								</div>
  								  								<div class="row">
  									<div class="col-md-12">
  										<div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.name_es_MX.$invalid }">
  											<label for="name_es_MX" class="col-md-4 control-label">{{ 'name_es_MX' | translate }}</label>
  											<div class="col-md-8">
  												<input name="name_es_MX" readonly="readonly" type="text" class="form-control" data-ng-model="lov.name_es_MX" id="name_es_MX" placeholder="{{ 'name_es_MX' | translate }}" autocomplete="off" required >
  												<span ng-show="submitted && lovForm.name_es_MX.$invalid" class="help-block">
  													<p ng-show="lovForm.name_es_MX.$error.required">
  														{{ 'name_es_MX field is required' | translate }}
  													</p>
  												</span>
  											</div>
  										</div>
  									</div>
  								</div>
  								  								<div class="row">
  									<div class="col-md-12">
  										<div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.name_en_US.$invalid }">
  											<label for="name_en_US" class="col-md-4 control-label">{{ 'name_en_US' | translate }}</label>
  											<div class="col-md-8">
  												<input name="name_en_US" readonly="readonly" type="text" class="form-control" data-ng-model="lov.name_en_US" id="name_en_US" placeholder="{{ 'name_en_US' | translate }}" autocomplete="off" required >
  												<span ng-show="submitted && lovForm.name_en_US.$invalid" class="help-block">
  													<p ng-show="lovForm.name_en_US.$error.required">
  														{{ 'name_en_US field is required' | translate }}
  													</p>
  												</span>
  											</div>
  										</div>
  									</div>
  								</div>
  								  								<div class="row">
  									<div class="col-md-12">
  										<div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.status.$invalid }">
  											<label for="status" class="col-md-4 control-label">{{ 'status' | translate }}</label>
  											<div class="col-md-8">
  												<input name="status" readonly="readonly" type="text" class="form-control" data-ng-model="lov.status" id="status" placeholder="{{ 'status' | translate }}" autocomplete="off" required >
  												<span ng-show="submitted && lovForm.status.$invalid" class="help-block">
  													<p ng-show="lovForm.status.$error.required">
  														{{ 'status field is required' | translate }}
  													</p>
  												</span>
  											</div>
  										</div>
  									</div>
  								</div>
  								  								<div class="row">
  									<div class="col-md-12">
  										<div class="form-group" ng-class="{ 'has-error' : submitted && lovForm.parent_id.$invalid }">
  											<label for="parent_id" class="col-md-4 control-label">{{ 'parent_id' | translate }}</label>
  											<div class="col-md-8">
  												<input name="parent_id" readonly="readonly" type="text" class="form-control" data-ng-model="lov.parent_id" id="parent_id" placeholder="{{ 'parent_id' | translate }}" autocomplete="off"  >
  												<span ng-show="submitted && lovForm.parent_id.$invalid" class="help-block">
  													<p ng-show="lovForm.parent_id.$error.required">
  														{{ 'parent_id field is required' | translate }}
  													</p>
  												</span>
  											</div>
  										</div>
  									</div>
  								</div>
  								  					<div class="form-actions">
  						<div class="row">
  							<div class="col-md-6">
  							</div>
  							<div class="col-md-6">
  								<div class="row">
  									<div class="col-md-offset-3 col-md-9">
  										<a href="/#/lovs/edit/{{lov.id}}" class="btn btn-circle blue-madison">{{ 'Edit' | translate }}</a>
  										<a ui-sref="lovsList" class="btn btn-circle default">{{ 'Back to list' | translate }}</a>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>