              <section ng-controller="RolesCtrl" >
    <h3 class="page-title"></i>{{ 'Roles' | translate }}</h3>
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="roleForm" class="form-horizontal" role="form" data-ng-submit="create(roleForm.$valid)" novalidate>
          <div class="form-body">
            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && roleForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'role-name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && roleForm.name.$invalid" class="help-block">
          <p ng-show="roleForm.name.$error.required">
            {{ 'role-name field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && roleForm.lov_role_status.$invalid }">
          <label for="lov_role_status" class="col-md-4 control-label">{{ 'role-lov_role_status' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select required ng-model="lovRoleStatus.selected" theme="bootstrap" name="lov_role_status" >
                      <ui-select-match placeholder="{{ 'Select lov_role_status' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovRoleStatuses" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'ROLE_STATUS', 'lovRoleStatuses', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovRoleStatus.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && roleForm.lov_role_status.$invalid" class="help-block">
                  <p ng-show="roleForm.lov_role_status.$error.required">
                      {{ 'role-lov_role_status field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && roleForm.description.$invalid }">
      <label for="description" class="col-md-4 control-label">{{ 'role-description' | translate }}</label>
      <div class="col-md-8">
        <input name="description" type="text" class="form-control" data-ng-model="description" id="description" placeholder="{{ 'description' | translate }}" autocomplete="off"  >
        <span ng-show="submitted && roleForm.description.$invalid" class="help-block">
          <p ng-show="roleForm.description.$error.required">
            {{ 'role-description field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="form-actions">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>
    <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="submit" acl-check="rolesCreate" class="btn blue-madison">{{ 'Save' | translate }}</button>
          <a href="javascript:;" back-button class="btn default ">{{ 'Cancel' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

          </div>
        </form>
      </div>
    </div>
            </section>
