              <section ng-controller="RolesCtrl" data-ng-init="findOne()">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption font-green-sharp">
              {{ 'View' | translate }}
            </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form name="roleForm" class="form-horizontal" role="form" >
              <div class="form-body">
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && roleForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'role-name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" readonly="readonly" type="text" class="form-control" data-ng-model="role.name" id="name" placeholder="{{ 'role-name' | translate }}" autocomplete="off" required >
      </div>
    </div>
  </div>
</div>
                                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && roleForm.lov_role_status.$invalid }">
      <label for="lov_role_status" class="col-md-4 control-label">{{ 'role-lov_role_status' | translate }}</label>
      <div class="col-md-8">
        <span load-lovtype="ROLE_STATUS" load-lovtype-value="{{role.lov_role_status}}" ></span>
      </div>
    </div>
  </div>
</div>

                                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && roleForm.description.$invalid }">
      <label for="description" class="col-md-4 control-label">{{ 'role-description' | translate }}</label>
      <div class="col-md-8">
        <input name="description" readonly="readonly" type="text" class="form-control" data-ng-model="role.description" id="description" placeholder="{{ 'role-description' | translate }}" autocomplete="off"  >
      </div>
    </div>
  </div>
</div>
                                
                <div class="form-actions">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <a acl-check="rolesEdit" href="/#/roles/edit/{{role.id}}" class="btn blue-madison ">{{ 'Edit' | translate }}</a>
                          <a href="javascript:;" ui-sref="rolesList" class="btn default ">{{ 'Back to roles list' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <tabset vertical="false" type="pills">
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
          </tabset>
        </div>
      </div>
  </section>

