              <section ng-controller="BuildingsCtrl" >
    <h3 class="page-title"></i>{{ 'Buildings' | translate }}</h3>
        <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          {{ 'Create' | translate }}
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="buildingForm" class="form-horizontal" role="form" data-ng-submit="create(buildingForm.$valid)" novalidate>
          <div class="form-body">
            
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.name.$invalid }">
      <label for="name" class="col-md-4 control-label">{{ 'building-name' | translate }}</label>
      <div class="col-md-8">
        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && buildingForm.name.$invalid" class="help-block">
          <p ng-show="buildingForm.name.$error.required">
            {{ 'building-name field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.taxNumber.$invalid }">
      <label for="taxNumber" class="col-md-4 control-label">{{ 'building-taxNumber' | translate }}</label>
      <div class="col-md-8">
        <input name="taxNumber" type="text" class="form-control" data-ng-model="taxNumber" id="taxNumber" placeholder="{{ 'taxNumber' | translate }}" autocomplete="off" required >
        <span ng-show="submitted && buildingForm.taxNumber.$invalid" class="help-block">
          <p ng-show="buildingForm.taxNumber.$error.required">
            {{ 'building-taxNumber field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.workstation_id.$invalid }">
        <label for="workstation_id" class="col-md-4 control-label">{{ 'building-workstation' | translate }}</label>
        <div class="col-md-8">
          <div class="input-group">
              <ui-select required ng-model="selectedWorkstation.selected" name="workstation_id" reset-search-input="false" theme="bootstrap" >
                <ui-select-match placeholder="{{ 'Select Workstation' | translate }}...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in workstations | limitTo: 10 track by $index"  refresh="findWorkstations($select.search)" refresh-delay="500" >
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn btn-right">
                  <a class="btn grey" type="button" ng-click="selectedWorkstation.selected = undefined">
                      <i class="fa fa-times"></i>
                  </a>
              </span>
          </div>
            <span ng-show="submitted && buildingForm.workstation_id.$invalid" class="help-block">
                <p ng-show="buildingForm.workstation_id.$error.required">
                    {{ 'building-workstation_id field is required' | translate }}
                </p>
            </span>
        </div>
    </div>
  </div>
</div>
                      
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.lov_building_status.$invalid }">
          <label for="lov_building_status" class="col-md-4 control-label">{{ 'building-lov_building_status' | translate }}</label>
          <div class="col-md-8">
              <div class="input-group">
                  <ui-select required ng-model="lovBuildingStatus.selected" theme="bootstrap" name="lov_building_status" >
                      <ui-select-match placeholder="{{ 'Select lov_building_status' | translate }} ...">{{$select.selected['name_' + selectedLanguage]}}</ui-select-match>
                      <ui-select-choices repeat="item in lovBuildingStatuses" refresh="fgetLovs( 'contains', 'name_' + selectedLanguage, 'BUILDING_STATUS', 'lovBuildingStatuses', $select.search )" refresh-delay="500">
                          <div ng-bind-html="item['name_' + selectedLanguage]"></div>
                      </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn btn-right">
                      <a class="btn grey" type="button" ng-click="lovBuildingStatus.selected = undefined">
                          <i class="fa fa-times"></i>
                      </a>
                  </span>
              </div>
              <span ng-show="submitted && buildingForm.lov_building_status.$invalid" class="help-block">
                  <p ng-show="buildingForm.lov_building_status.$error.required">
                      {{ 'building-lov_building_status field is required' | translate }}
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>
                    
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.description.$invalid }">
      <label for="description" class="col-md-4 control-label">{{ 'building-description' | translate }}</label>
      <div class="col-md-8">
        <input name="description" type="text" class="form-control" data-ng-model="description" id="description" placeholder="{{ 'description' | translate }}" autocomplete="off"  >
        <span ng-show="submitted && buildingForm.description.$invalid" class="help-block">
          <p ng-show="buildingForm.description.$error.required">
            {{ 'building-description field is required' | translate }}
          </p>
        </span>
      </div>
    </div>
  </div>
</div>

                
<div class="form-actions">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>
    <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="submit" acl-check="buildingsCreate" class="btn blue-madison">{{ 'Save' | translate }}</button>
          <a href="javascript:;" back-button class="btn default ">{{ 'Cancel' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

          </div>
        </form>
      </div>
    </div>
            </section>
