              <section ng-controller="BuildingsController" data-ng-init="prepareData()">
    <h3 class="page-title">{{ 'Building' | translate }}</h3>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption font-green-sharp">
              {{ 'View' | translate }}
            </div>
            <div class="tools">
              <a href="javascript:;" ng-click="prepareData()" class="reload"></a>
            </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form name="buildingForm" class="form-horizontal" role="form" >
              <div class="form-body">
                                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.name.$invalid }">
                            <label for="name" class="col-md-4 control-label">{{ 'name' | translate }}</label>
                            <div class="col-md-8">
                              <input name="name" readonly="readonly" type="text" class="form-control" data-ng-model="building.name" id="name" placeholder="{{ 'name' | translate }}" autocomplete="off" required >
                              <span ng-show="submitted && buildingForm.name.$invalid" class="help-block">
                                <p ng-show="buildingForm.name.$error.required">
                                  {{ 'name field is required' | translate }}
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                                            <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.alias.$invalid }">
                            <label for="alias" class="col-md-4 control-label">{{ 'alias' | translate }}</label>
                            <div class="col-md-8">
                              <input name="alias" readonly="readonly" type="text" class="form-control" data-ng-model="building.alias" id="alias" placeholder="{{ 'alias' | translate }}" autocomplete="off"  >
                              <span ng-show="submitted && buildingForm.alias.$invalid" class="help-block">
                                <p ng-show="buildingForm.alias.$error.required">
                                  {{ 'alias field is required' | translate }}
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                                            <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.taxNumber.$invalid }">
                            <label for="taxNumber" class="col-md-4 control-label">{{ 'taxNumber' | translate }}</label>
                            <div class="col-md-8">
                              <input name="taxNumber" readonly="readonly" type="text" class="form-control" data-ng-model="building.taxNumber" id="taxNumber" placeholder="{{ 'taxNumber' | translate }}" autocomplete="off" required >
                              <span ng-show="submitted && buildingForm.taxNumber.$invalid" class="help-block">
                                <p ng-show="buildingForm.taxNumber.$error.required">
                                  {{ 'taxNumber field is required' | translate }}
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                                            <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.manager.$invalid }">
                            <label for="manager" class="col-md-4 control-label">{{ 'manager' | translate }}</label>
                            <div class="col-md-8">
                              <input name="manager" readonly="readonly" type="text" class="form-control" data-ng-model="building.manager" id="manager" placeholder="{{ 'manager' | translate }}" autocomplete="off" required >
                              <span ng-show="submitted && buildingForm.manager.$invalid" class="help-block">
                                <p ng-show="buildingForm.manager.$error.required">
                                  {{ 'manager field is required' | translate }}
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                                            <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.lov_building_status.$invalid }">
                            <label for="lov_building_status" class="col-md-4 control-label">{{ 'lov_building_status' | translate }}</label>
                            <div class="col-md-8">
                              <input name="lov_building_status" readonly="readonly" type="text" class="form-control" data-ng-model="building.lov_building_status" id="lov_building_status" placeholder="{{ 'lov_building_status' | translate }}" autocomplete="off" required >
                              <span ng-show="submitted && buildingForm.lov_building_status.$invalid" class="help-block">
                                <p ng-show="buildingForm.lov_building_status.$error.required">
                                  {{ 'lov_building_status field is required' | translate }}
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                                            <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" ng-class="{ 'has-error' : submitted && buildingForm.description.$invalid }">
                            <label for="description" class="col-md-4 control-label">{{ 'description' | translate }}</label>
                            <div class="col-md-8">
                              <input name="description" readonly="readonly" type="text" class="form-control" data-ng-model="building.description" id="description" placeholder="{{ 'description' | translate }}" autocomplete="off"  >
                              <span ng-show="submitted && buildingForm.description.$invalid" class="help-block">
                                <p ng-show="buildingForm.description.$error.required">
                                  {{ 'description field is required' | translate }}
                                </p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                                      <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <a href="/#/buildings/edit/{{building.id}}" class="btn blue-madison">{{ 'Edit' | translate }}</a>
                          <a ui-sref="buildingsList" class="btn default">{{ 'Back to list' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <tabset vertical="false" type="pills">
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
                <tab heading="{{'Object'|translate}}">
                    <div class="jumbotron">
                        <span>Related Object</span>
                    </div>
                </tab>
          </tabset>
        </div>
      </div>
  </section>

